<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>MCCIA</title>
</head>
<body>

{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<section class="InternalBannerSection" style="background-image: url({% static 'assets/images/internal-banner.jpg' %});">
    <div class="InternalInnerArea">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <h2> Agriculture</h2>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <ol class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li><a href="#">Committee</a></li>
                        <li class="active"><a href="#"> Agriculture</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="CommitteeDetailSection">
    <div class="container">
        <div class="row grid">
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 agriculturefood2">
                <div class="FoodProcessingDirectorbox">
                    <div class="FoodImg">
                        <img src="http://demo.mcciapune.com/committee/1Agribanner.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 committeesmalldevice">
                            <div class="DirectorInfor DirectorInforCommittee">
                                <h4>Chair</h4>
                                <div class="media">
                                    <!--<div class="media-left">
                                        <img class="media-object" src="/assets/images/icons/default-user-image.png" width="70" alt="...">
                                    </div>-->
                                    <div class="media-body">
                                        <!--<p><i class="fa fa-user-o"></i><strong>Ms. Prasad Shukla</strong><br>Director MCCIA</p>
                                        <p><a href="#" class="btn">Read Profile</a></p>-->
                                        <p><i class="fa fa-user-o"></i><strong> Mr. Umesh Sarangi,
                                            Chairman</strong></p>
                                        <!--<p><i class="fa fa-industry"></i>Sangamner Milk and Milk Processing Cooperative-->
                                            <!--Society Ltd.</p>-->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 committeesmalldevice">
                            <div class="DirectorInfor DirectorInforCommittee">
                                <h4>Officer Incharge</h4>
                                <div class="media">
                                    <!--<div class="media-left">
                                        <img class="media-object" src="/assets/images/icons/default-user-image.png" width="70" alt="...">
                                    </div>-->
                                    <div class="media-body">
                                        <!--<p><i class="fa fa-user-o"></i><strong>Ms. Prasad Shukla</strong><br>Director MCCIA</p>
                                        <p><a href="#" class="btn">Read Profile</a></p>-->
                                        <p><i class="fa fa-user-o"></i><strong>Mr. Prasad Shukla,Director</strong></p>
                                        <p><i class="fa fa-volume-control-phone"></i>91-20-24440371</p>
                                        <p><i class="fa fa-envelope-open"></i><a href="mailto:prasads@mcciapune.com">prasads@mcciapune.com</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="FoodProcessingDetailsbox">
                    <p>With a view to professionalize, strengthen and commercialize Agriculture and its Allied
                        Activities, MCCIA started the Agriculture &amp; Agribusiness Committee in 1992. </p>

                    <p></p>

                    <p><b>Following activities are carried on by the committee.</b></p>

                    <p></p>
                    <ol style="margin-left: 27px;"><p></p>

                        <p></p>

                        <p></p>
                        <li>Government Representations</li>
                        <p></p>

                        <p></p>
                        <li>Interventions in Policy Measures</li>
                        <p></p>

                        <p></p>
                        <li>Create and Enhance Awareness of the Government Measures and Regulations</li>
                        <p></p>

                        <p></p>
                        <li>Business linkages between Farmers and Agriculture &amp; Food Processing Units</li>
                        <p></p>

                        <p></p>
                        <li>Information dissemination through seminars, workshops, discussion meetings on various
                            Agribusiness Subjects.
                        </li>
                        <p></p>

                        <p></p>

                        <p><b>Achievements:</b></p>

                        <p></p>
                        <ul style="margin-left: 30px;"><p></p>

                            <p></p>
                            <li>The first Internet based ‘Gramin Information Centre’ (GIC) was formed by MCCIA. Later
                                on, DoA, replicated this model and formed 330 such centers named as ‘Bazaar Mahiti
                                Kendras’. The rural community is using these centers for sourcing the Agriculture Market
                                information through Internet.
                            </li>
                            <p></p>

                            <p></p>
                            <li>The Agriculture Committee worked with UNIDO and developed Pune Food Cluster.</li>
                            <p></p>

                            <p></p>
                            <li>Formation of Agriculture and Food Testing Laboratory NAFARI with the support of Ministry
                                of Food Processing Industry, GoI and MCCIA Food Industry Members.
                            </li>
                            <p></p>

                            <p></p>
                            <li>Prepared a comprehensive draft for ‘Agro Industrial Policy’ for GoM.</li>
                            <p></p>

                            <p></p>
                            <li>Represented Agri-Food Sector on the State level Government Committees, DoA.</li>
                            <p></p>

                            <p></p>
                            <li>Released Agriculture Food Directories, Publications and Perspective Plan for Banana
                                crop.
                            </li>
                            <p></p>

                            <p></p>

                            <p></p>
                            <li>Formation of ‘Agri Forum’ for commercial Agriculture &amp; Agribusiness activities for
                                New Developments, Technologies in Agriculture and Business &amp; Networking Meetings.
                            </li>
                            <p></p>

                            <p></p>

                            <p></p>
                            <li>Organized International event, Agriculture Farm Machinery Expo &amp; Trials cum
                                Demonstrations of Advanced Italian Farm Machineries which was first of its kind
                                exposition in Pune.
                            </li>
                            <p></p>

                            <p></p>

                            <p></p>
                            <li>Collaborated with NABARD, FICCI, USA Soy Council, MSAMB, MACP, NHM, ASCI for
                                Agribusiness events.
                            </li>
                            <p></p>

                            <p></p>

                            <p></p>
                            <li>Formation of Agri-Horticulture Commodity Clusters such as: Fruits &amp; Vegetables
                                Cluster, Maharashtra Irrigation Association, Maharashtra Lime Growers’ Association,
                                Maharashtra Papaya Growers’ Association.
                            </li>
                            <p></p>

                            <p></p>

                            <p></p></ul>
                        <p></p>
                    </ol>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 agriculturefood1">
                <div class="committeeRightPanelOuter">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 role="button" data-toggle="collapse" data-parent="#accordion"
                                    href="#OtherCommittees" aria-expanded="true" aria-controls="collapseOne">
                                    <i class="more-less glyphicon glyphicon-chevron-down"></i>
                                    Other Committees
                                </h4>
                            </div>
                            <div id="OtherCommittees" class="panel-collapse collapse in" role="tabpanel"
                                 aria-labelledby="headingOne">
                                <ul>
                                    <li><a href="/committeeapp/agriculture/">Agriculture</a></li>
                                    <li><a href="/committeeapp/ahmednagar/">Ahmednagar</a></li>
                                    <li><a href="/committeeapp/civil-aviation/">Civil Aviation</a></li>
                                    <li><a href="/committeeapp/corporate-legislation/">Corporate Legislation</a></li>
                                    <li><a href="/committeeapp/defence/">Defence</a></li>
                                    <li><a href="/committeeapp/electronics/">Electronics</a></li>
                                    <li><a href="/committeeapp/food-processing/">Food Processing</a></li>
                                    <li><a href="/committeeapp/foreign-trade/">Foreign Trade</a></li>
                                    <li><a href="/committeeapp/higher-education-skill-development/">Higher Education and Skill Development</a></li>
                                    <li><a href="/committeeapp/hr/">HR & IR</a></li>
                                    <li><a href="/committeeapp/IT-ITES/">IT & ITES</a></li>
                                    <li><a href="/committeeapp/innovation-incubation/">Innovation & Incubation</a></li>
                                    <li><a href="/committeeapp/sme/">MSME</a></li>
                                    <li><a href="/committeeapp/taxation/">Taxation</a></li>
                                    <li><a href="/committeeapp/women-entrepreneurs/">Women Entrepreneurs</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

</body>
</html>