<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>MCCIA</title>

</head>
<body>

{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<section class="InternalBannerSection" style="background-image: url({% static 'assets/images/internal-banner.jpg' %});">
    <div class="InternalInnerArea">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <h2> Energy</h2>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <ol class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li><a href="#">Committee</a></li>
                        <li class="active"><a href="#"> Energy</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="CommitteeDetailSection">
    <div class="container">
        <div class="row grid">
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 agriculturefood2">
                <div class="FoodProcessingDirectorbox">
                    <div class="FoodImg">
                        <img src="http://demo.mcciapune.com/committee/" alt="" class="img-responsive">
                    </div>
                    <div class="row">

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 committeesmalldevice">
                            <div class="DirectorInfor DirectorInforCommittee">

                                <h4>Chair</h4>


                                <div class="media">
                                    <!--<div class="media-left">
                                        <img class="media-object" src="/assets/images/icons/default-user-image.png" width="70" alt="...">
                                    </div>-->
                                    <div class="media-body">
                                        <!--<p><i class="fa fa-user-o"></i><strong>Ms. Prasad Shukla</strong><br>Director MCCIA</p>
                                        <p><a href="#" class="btn">Read Profile</a></p>-->
                                        <p><i class="fa fa-user-o"></i><strong> Mr. Amulya Charan </strong></p></span>
                                    </div>
                                </div>


                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 committeesmalldevice">
                            <div class="DirectorInfor DirectorInforCommittee">

                                <h4>Officer Incharge</h4>

                                <div class="media">
                                    <!--<div class="media-left">
                                        <img class="media-object" src="/assets/images/icons/default-user-image.png" width="70" alt="...">
                                    </div>-->
                                    <div class="media-body">
                                        <!--<p><i class="fa fa-user-o"></i><strong>Ms. Prasad Shukla</strong><br>Director MCCIA</p>
                                        <p><a href="#" class="btn">Read Profile</a></p>-->
                                        <p><i class="fa fa-user-o"></i><strong>Mr. Shrikrishna Gadgil,Associate
                                            Director</strong></p>

                                        <p><i class="fa fa-volume-control-phone"></i>91-20-25709141</p>

                                        <p><i class="fa fa-envelope-open"></i><a href="mailto:shrig@mcciapune.com">shrig@mcciapune.com</a>
                                        </p>
                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>
                </div>
                <div class="FoodProcessingDetailsbox">
                    <p>The energy committee was established to address the power issues of the industry and suggest a
                        way forward. MCCIA has been making continuous efforts to improve the power situation in the Pune
                        Region as well as the Maharashtra State. </p>

                    <p></p>

                    <p>The initiatives include; </p>

                    <p></p>

                    <p>
                    <ol style="margin-left: 30px;">
                    </p><p>
                    <li>Improving Distribution Network</li>
                    </p><p></p>

                    <p>
                    <li>Lobbying with Government for funding the Projects to drastically improve Power Infrastructure
                    </li>
                    </p><p></p>

                    <p>
                    <li>Efforts for additional power generation by sourcing from NTPC / Power Grid / Private Suppliers
                    </li>
                    </p><p></p>

                    <p>
                    <li>Suggestions for allowing unhindered generation of Captive Power</li>
                    </p><p></p>

                    <p>
                    <li>Integration of Captive Power into MSEB grid to tide over peak hour shortage</li>
                    </p><p></p>

                    <p>
                    <li>Efforts for maintaining power supply during Strike / potential strike by MSEB workers</li>
                    </p><p></p>

                    <p>
                    <li>Representing for fair tariff for all classes of consumers and also wind power producers to
                        Maharashtra Electricity Regulatory Commissions have yielded positive results over the last three
                        years.
                    </li>
                    </p><p></p>

                    <p>
                    <li>Open Access to Electricity</li>
                    </p><p></p>

                    <p>
                    <li>Single Point Supply to Commercial establishments consisting of different categories of
                        consumers
                    </li>
                    </p><p></ol></p>

                    <p></p>

                    <p>MCCIA undertakes comprehensive Energy Audits for both Thermal and Electrical System. </p>

                    <p></p>

                    <p></p>

                    <p>Prestigious Assignments: </p>

                    <p>Kirloskar Group Serum Institute Jaya-Hind Industries </p>

                    <p>LavinoKapur Cottons B C Components Indian Card Clothing Co.</p>

                    <p>Pancard Clubs Group of Bakeries J.N. Marshall</p>

                    <p>The Premier Automobiles Aryan Pesticides </p>

                    <p>Baramati Agro Industries</p>

                    <p>International Auto Ltd. </p>

                    <p>Polybond India Ltd.</p>

                    <p></p>

                    <p></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 agriculturefood1">
                <div class="committeeRightPanelOuter">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 role="button" data-toggle="collapse" data-parent="#accordion"
                                    href="#OtherCommittees" aria-expanded="true" aria-controls="collapseOne">
                                    <i class="more-less glyphicon glyphicon-chevron-down"></i>
                                    Other Committees
                                </h4>
                            </div>
                            <div id="OtherCommittees" class="panel-collapse collapse in" role="tabpanel"
                                 aria-labelledby="headingOne">
                                <ul>
                                    <li><a href="/committeeapp/agriculture/">Agriculture</a></li>
                                    <li><a href="/committeeapp/civil-aviation/">Civil Aviation</a></li>
                                    <li><a href="/committeeapp/defence/">Defence</a></li>
                                    <li><a href="/committeeapp/education">Education and Skill Development</a></li>
                                    <li><a href="/committeeapp/electronics/">Electronics</a></li>
                                    <li><a href="/committeeapp/food-processing/">Food Processing</a></li>
                                    <li><a href="/committeeapp/hr/">HR</a></li>
                                    <li><a href="/committeeapp/infrastructure/">Infrastructure</a></li>
                                    <li><a href="/committeeapp/IT-ITES/">IT &amp; ITES</a></li>
                                    <li><a href="/committeeapp/sme/">SME</a></li>
                                    <li><a href="/committeeapp/women-entrepreneurs/">Women Entrepreneurs</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

{% endblock %}


</body>
</html>
  

