<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>MCCIA</title>

</head>
<body>

{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<section class="InternalBannerSection" style="background-image: url({% static 'assets/images/internal-banner.jpg' %});">
    <div class="InternalInnerArea">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <h2> Food Processing </h2>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <ol class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li><a href="#">Committee</a></li>
                        <li class="active"><a href="#"> Food Processing</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="CommitteeDetailSection">
    <div class="container">
        <div class="row grid">
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 agriculturefood2">
                <div class="FoodProcessingDirectorbox">
                    <div class="FoodImg">
                        <img src="http://demo.mcciapune.com/committee/Food-Processing-banner-.jpg" alt=""
                             class="img-responsive">
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 committeesmalldevice">
                            <div class="DirectorInfor DirectorInforCommittee">
                                <h4>Chair</h4>
                                <div class="media">
                                    <!--<div class="media-left">
                                        <img class="media-object" src="/assets/images/icons/default-user-image.png" width="70" alt="...">
                                    </div>-->
                                    <div class="media-body">
                                        <!--<p><i class="fa fa-user-o"></i><strong>Ms. Prasad Shukla</strong><br>Director MCCIA</p>
                                        <p><a href="#" class="btn">Read Profile</a></p>-->
                                        <p><i class="fa fa-user-o"></i><strong> Mr. Anand Chordia, Director -
                                            Technical</strong></p>
                                        <p><i class="fa fa-industry"></i>Chodia Food Products Ltd</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 committeesmalldevice">
                            <div class="DirectorInfor DirectorInforCommittee">
                                <h4>Officer Incharge</h4>
                                <div class="media">
                                    <!--<div class="media-left">
                                        <img class="media-object" src="/assets/images/icons/default-user-image.png" width="70" alt="...">
                                    </div>-->
                                    <div class="media-body">
                                        <!--<p><i class="fa fa-user-o"></i><strong>Ms. Prasad Shukla</strong><br>Director MCCIA</p>
                                        <p><a href="#" class="btn">Read Profile</a></p>-->
                                        <p><i class="fa fa-user-o"></i><strong>Mr. Prasad Shukla,Director</strong></p>
                                        <p><i class="fa fa-volume-control-phone"></i>91-20-24440371</p>
                                        <p><i class="fa fa-envelope-open"></i><a href="mailto:prasads@mcciapune.com">prasads@mcciapune.com</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="FoodProcessingDetailsbox">
                    <p></p>

                    <p>The Food Processing Committee has been recently formed to serve as contact point for enhancing
                        business linkages between farmers, growers and food processing units.</p>

                    <p></p>

                    <p><b>The committee functions through the following initiatives;</b></p>

                    <p></p>

                    <p></p>
                    <ol style="margin-left: 30px;"><p></p>

                        <p></p>
                        <li>Dissemination of important business information</li>
                        <p></p>

                        <p></p>
                        <li>Represent MCCIA Food Processing Members in policy formation</li>
                        <p></p>

                        <p></p>
                        <li>Organize knowledge sharing</li>
                        <p></p>

                        <p></p>
                        <li>Sharing Government Policies</li>
                        <p></p>

                        <p></p>
                        <li>To develop backward and forward integration model for the Food Processing Units</li>
                        <p></p>

                        <p></p>
                        <li>Prepare an exhaustive Memorandum to the Government of Maharashtra for the development of
                            Food Processing sector with identification of gaps, problem areas with possible solutions
                        </li>
                        <p></p>

                        <p></p></ol>
                    <p></p>

                    <p></p>

                    <p><b>Achievements</b></p>

                    <p></p>
                    <ul style="margin-left: 30px;"><p></p>

                        <p></p>
                        <li>Food Industry Advisory Service and Food Business Support Programs created awareness of
                            ‘Kisan Sampada Scheme’ of MOFPI, GoI, New Delhi.
                        </li>
                        <p></p>

                        <p></p>
                        <li>Interaction Meetings with Italian, Belgian, German, Japanese for the latest International
                            Food Processing Technologies.
                        </li>
                        <p></p>

                        <p></p>
                        <li>Dissemination of Government Notifications and Important Circulars for the Food Processing
                            sector.
                        </li>
                        <p></p>

                        <p></p>
                        <li>Representation of problems, issues of the MCCIA Food Sector Members to the Chief Minister,
                            GoM, FDA-FSSA Minister, GoM.
                        </li>
                        <p></p>

                        <p></p>
                        <li>Organized several Food Industry Exposure Visits for Members.</li>
                        <p></p>

                        <p></p>
                        <li>New initiatives for the first time in India:</li>
                        <p></p>

                        <p>Unique events organized for the Pune Food Processing Cluster:</p>

                        <p>a) ‘Food Industry-CFTRI Conclave’ for the Food Technologists and MCCIA Food Sector Members.
                            and</p>

                        <p>b) International Conclave on ‘Ideas, Innovation &amp; Industry Enabling Smart Food
                            Factory’.</p>

                        <p></p>
                        <li>Organized a series of events on ‘Safe Food &amp; GMP for the Street Food Vendors’ in
                            association with FDA, GoM.
                        </li>
                        <p></p>

                        <p></p>
                        <li>Mr. Anand Chordia, Chairman, represented to the ‘Parliamentary Standing Committee on
                            Strengthening of Agri-Food Processing linkage for Processing &amp; Value Addition’ and
                            Impact of Imports of Chinese Foods on Indian Market.
                        </li>
                        <p></p>

                        <p></p>
                        <li>Started collaborative working with the MoFPI on FP Incubation.</li>
                        <p></p>

                        <p></p>
                        <li>Organized a Workshop on Safe Prasad &amp; Hygiene of Street Food Vendors with FDA &amp;
                            FSSAI, GoM.
                        </li>
                        <p></p>

                        <p></p>

                        <p></p>

                        <p></p>

                        <p></p>

                        <p></p>

                        <p></p>

                        <p></p>

                        <p></p>

                        <p></p>

                        <p></p>

                        <p></p>

                        <p></p>

                        <p></p>

                        <p></p>

                        <p></p>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 agriculturefood1">
                <div class="committeeRightPanelOuter">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 role="button" data-toggle="collapse" data-parent="#accordion"
                                    href="#OtherCommittees" aria-expanded="true" aria-controls="collapseOne">
                                    <i class="more-less glyphicon glyphicon-chevron-down"></i>
                                    Other Committees
                                </h4>
                            </div>
                            <div id="OtherCommittees" class="panel-collapse collapse in" role="tabpanel"
                                 aria-labelledby="headingOne">
                                <ul>
                                    <li><a href="/committeeapp/agriculture/">Agriculture</a></li>
                                    <li><a href="/committeeapp/ahmednagar/">Ahmednagar</a></li>
                                    <li><a href="/committeeapp/civil-aviation/">Civil Aviation</a></li>
                                    <li><a href="/committeeapp/corporate-legislation/">Corporate Legislation</a></li>
                                    <li><a href="/committeeapp/defence/">Defence</a></li>
                                    <li><a href="/committeeapp/electronics/">Electronics</a></li>
                                    <li><a href="/committeeapp/food-processing/">Food Processing</a></li>
                                    <li><a href="/committeeapp/foreign-trade/">Foreign Trade</a></li>
                                    <li><a href="/committeeapp/higher-education-skill-development/">Higher Education and Skill Development</a></li>
                                    <li><a href="/committeeapp/hr/">HR & IR</a></li>
                                    <li><a href="/committeeapp/IT-ITES/">IT & ITES</a></li>
                                    <li><a href="/committeeapp/innovation-incubation/">Innovation & Incubation</a></li>
                                    <li><a href="/committeeapp/sme/">MSME</a></li>
                                    <li><a href="/committeeapp/taxation/">Taxation</a></li>
                                    <li><a href="/committeeapp/women-entrepreneurs/">Women Entrepreneurs</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

{% endblock %}

</body>
</html>