<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>MCCIA</title>

</head>
<body>
{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<section class="InternalBannerSection" style="background-image: url({% static 'assets/images/internal-banner.jpg' %});">
    <div class="InternalInnerArea">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <h2>Lean Manufacturing Cluster</h2>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <ol class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li><a href="#">Inititatives </a></li>
                        <li class="active"><a href="#">Mfg. Lean Cluster</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="internalSection">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">

                <p>MCCIA has been supporting and implementing the Lean Manufacturing Cluster scheme launched by the
                    Ministry of MSME, Government of India. This is implemented under the <strong>National Manufacturing
                        Competitiveness Program</strong>.&#160; </p>

                <p>MCCIA formed four Clusters under the earlier 12 Month Scheme.&#160; The scheme was scaled up and
                    revised by the Ministry and a new version was launched in 2013.&#160; </p>

                <p>The committee under the revised scheme has formed 10 clusters.&#160; </p>

                <p>MCCIA has supported OEMs like Godrej, Piaggio, KOEL and Cummins in forming clusters for their
                    vendors.</p>

                <p>The Lean Cluster Scheme has helped the participating companies to enhance productivity, waste
                    elimination, inventory management, production planning, TPM, shop floor improvement and in many more
                    areas. </p>
                <br/>
                <h4>Fees Structure:</h4>

                <p>The ministry reimburses expenses towards the Consultant&#8217;s fee to the extent of 80% and the
                    participating units are expected to contribute about 20% of the fees.&#160; The financial assistance
                    is disbursed in a phased manner. </p>
                <br/>
                <h4>Successful Clusters:</h4>

                <p>In all MCCIA has promoted 13 Custer schemes under the Ministry of MSME benefiting 124 companies;</p>

                <div class="table-responsive TableCustomStyle">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Cluster</th>
                            <th>Beneficiary Companies</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Auto Component Cluster</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>White Goods Cluster</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>Machining and Press Cluster</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>Light Engineering Cluster</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>MCCIA Auto Component Pune Cluster</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>MCCIA Light Engineering Cluster</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>MCCIA General Engineering Cluster</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>MCCIA Machining Cluster</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>MCCIA Amaze Lean Cluster</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>MCCIA KOEL Lean Cluster-1</td>
                            <td>8</td>
                        </tr>
                        <tr>
                            <td>MCCIA KOEL Lean Cluster-2</td>
                            <td>7</td>
                        </tr>
                        <tr>
                            <td>MCCIA KOEL Lean Cluster-3</td>
                            <td>9</td>
                        </tr>
                        <tr>
                            <td>MCCIA Amaze Lean Cluster-2</td>
                            <td>10</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <br/>
                <h4>6 Clusters for Advanced Lean Implementation:</h4>

                <p>The clusters for the implementation of Advanced Lean Tools and Techniques have been formed without
                    any support from the Ministry of MSME.&#160; The participating units bear the entire expenses.&#160;
                    MCCIA provides total administrative support to these clusters.&#160; The committee has facilitated
                    formation of 6 such clusters. </p>

            </div>
        </div>
    </div>
</section>

{% endblock %}

</body>
</html>
  

