<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<style>
    td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}
</style>
</head>
<body>
<p>Dear Sir/Madam,
<br>Greetings!
    <br>Please find attached the Proforma Invoice for MCCIA membership renewal for the year 2019-20. You may pay online on www.mcciapune.com, or by NEFT or cheque addressed to MCCIA. Request you to send us the transaction details and GST number once the payment is done.</p></br>

<p>DETAILS OF MCCIA BANK ACCOUNT FOR NEFT TRANSACTION</p>
<table>
  <tr>
    <th>Particulars</th>
    <th>Details </th>
  </tr>
  <tr>
    <td>Name of the Bank</td>
    <td>HDFC Bank Ltd.</td>
  </tr>
  <tr>
    <td>Branch Name</td>
    <td>Bhandarkar Road, Pune</td>
  </tr>
  <tr>
    <td>Savings Account No</td>
    <td>50100015743490</td>
  </tr>
  <tr>
    <td>IFSC Code</td>
    <td>HDFC0000007</td>
  </tr>
  <tr>
    <td>SWIFT Code</td>
    <td>HDFCINBBPNE</td>
  </tr>
  <tr>
    <td>MICR</td>
    <td>411240002</td>
  </tr>
</table>

<br>
<br>
<p>Thanks
<br>Regards <br>Membership Team
<br>020-25709161/62/67/68
<br>membership@mcciapune.com</p>

</body>
</html>