<div class="m_5978287439510255430centered" style="color: rgb(34, 34, 34); font-family: Arial, Helvetica, sans-serif; font-size: small;">
<form target="_blank">
<fieldset>
<center>
<h4><span style="font-weight: bold;">MAHRATTA CHAMBER OF COMMERCE INDUSTRIES AND AGRICULTURE</span></h4>
</center>

<center>505/506, A/B Wing, SB Rd., 5th Floor, MCCIA Trade Tower, International Convention Centre, Pune 16.</center>
&nbsp;

<div align="right"><b>Membership No: {{member_no}}</b></div>

<div style="word-wrap: break-word; width: 40%;"><b>{{company_name}}</b></div>

<div class="m_5978287439510255430address-custom-width" style="word-wrap: break-word; width: 40%;"><b>{{member_address}} {{member_obj.correspondcity.city_name}}-{{member_obj.correspond_pincode}}</b></div>

<div><b>Tel# {{telephone_no}}</b></div>
<br />
<br />
<b>Dear {{member_name}} </b><br />
&nbsp;
<p align="justify">Greetings from Mahratta Chamber of Commerce, Industries and Agriculture.</p>
<p align="justify">On behalf of the Executive Committee and the Secretariat of the Chamber, we thank you for associating with MCCIA. Your support is very important to our work of representing your interests and that of the Industry in this region. Your application has been approved by the Membership Development Committee.</p>
<p align="justify">Your name has been put on our mailing list and you must have already started receiving our communications including e-calendar of events, our monthly publication&nbsp;<b>&quot;Sampada&quot;</b>. You are now entitled to attend all our General Body Meetings and if you so desire, any of our special meetings of our various Committees, at any of our five offices. You are also entitled to make use of Chamber&#39;s Commercial Reference Library. Please feel free to ask us queries pertaining to any aspect of Trade and Commerce. You may also appraise the Chamber of any of your generic difficulties and get them represented through the Chamber.</p>
<p align="justify">The Chamber has&nbsp;<b>Expert Committees</b>&nbsp;on areas like HR, IR, GST, Foreign Trade, IT/ITES, Taxation, Electronics, MSME, Defence, Agri-Business, Infrastructure, etc. Members and Associates are entitled to participate actively in any of these Committees. We have fully equipped halls with different capacities on rent to conduct meetings, events or training programs, etc. Our Chamber has a Government Certified Energy Auditor for providing consultancy service to help industries to reduce electricity consumption by proper energy management systems. Please ask for further details.</p>
<!--<p align="justify">Our ongoing representations on MSEB tariff, PCMC Octroi rates and MIDC water charges have resulted in net saving of several crores of rupees to the industry and trade. Conducting training programmes like courses, seminars and workshops of short and long term duration is one of our main activities.</p>-->
<p align="justify">As in all successful organisations, we rely on the voluntary participation and dedication of our members and associates to accomplish worthy goals. It is through your active participation that projects are developed and services improved. We welcome your feedback, suggestions and comments.</p>
<p align="justify"><font color="blue"><b>We would like to take this opportunity to invite you to log in to our website&nbsp;<a href="https://www.mcciapune.com" style="text-decoration: underline; color: rgb(52, 153, 219);">www.mcciapune.com</a>&nbsp;and access the various interactive features there in. Your login details are as under:</b></font></p>
<font color="blue"><b> </b></font>

<font color="blue"><b> Login ID: {{login_id}}<br />
Password: {{password}}</b></font><br />
<br />
We look forward to a long and mutually beneficial association.&nbsp;<br />
&nbsp;
<div align="right">With warm regards,<br/>
<b>Membership Team<br/>
<b>membership@mcciapune.com</b><br>
(020-25709161/62/68)</b></div>
</fieldset>
</form>
</div>

<div class="m_5978287439510255430left-bottom" style="color: rgb(34, 34, 34); font-family: Arial, Helvetica, sans-serif; font-size: small;">
<div class="m_5978287439510255430row">
<div align="left">
<div class="m_5978287439510255430col-md-6"><img class="CToWUd" data-image-whitelisted="" src="https://www.mcciapune.com/static/assets/images/mccia-logo-footer.png" style="width: 102.882px; margin-top: 0px; margin-left: 0px;" /></div>
</div>
</div>

<p align="left">MAHRATTA CHAMBER OF COMMERCE INDUSTRIES &amp; AGRICULTURE 505,<br />
A-Wing, MCCIA Trade Tower, ICC Complex, 403, Senapati Bapat Road, Pune 411016.</p>

<p align="left">Tel (B): 91(20) 25709000<br />
Fax: 91(20) 25709021<br />
Visit us at:&nbsp;<a class="m_5978287439510255430moz-txt-link-abbreviated" data-saferedirecturl="https://www.google.com/url?q=http://www.mcciapune.com&amp;source=gmail&amp;ust=1553576448966000&amp;usg=AFQjCNFWjxm1HTgAhkeTMqJ6XOHJvWJGMA" href="http://www.mcciapune.com/" style="text-decoration: underline; color: rgb(52, 153, 219);" target="_blank">www.mcciapune.com</a></p>
</div>
