<section class="FormArea internalSection" id="note_div">
    <div class="container">
        <div class="FormInnerArea clearfix">
                <div class="row">
                    <div class="form-group">
                        <label class="control-label col-md-1"><u>Note</u></label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <ol>
                                <li><label class="control-label">Pl. forward catalogue and photograph of
                                    your product along with the Application form.</label></li>
                                <li><label class="control-label">Based on this information the
                                    Applicants will be shortlisted.</label></li>
                                <li><label class="control-label">The additional information such as
                                    Catalogues, Sales literature, Applicant’s bio data and product
                                    photographs will be asked from the shortlisted applicants.</label>
                                </li>
                                <li><label class="control-label">The selected candidates will be invited
                                    for the interview.</label></li>
                                <li><label class="control-label">At the time of interview the applicant
                                    will have to make a presentation justifying his claim for the
                                    Award.</label></li>
                                <li><label class="control-label">The Selection Committee may request
                                    more information, documents or seek discussions before the
                                    finalization of awardees.</label></li>
                                <li><label class="control-label">The Selection Committee may visit the
                                    works /factory for on the spot study, if it thinks
                                    essential.</label></li>
                            </ol>
                        </div>
                    </div>
                    <div class="form-group">
                        <center>
                            <div class="col-md-12">
                                <label class="control-label">Last date for Submission : 15 July
                                    2019</label>
                            </div>
                            <div class="col-md-12">
                                <label class="control-label"><b>Contact Person</b></label>
                            </div>
                            <div class="col-md-12">
                                <label class="control-label">Mr. Satish Joshi, Deputy Director,
                                    MCCIA</label>
                            </div>
                            <div class="col-md-12">
                                <label class="control-label">Tel.: 25709162, M: 9881127658</label>
                            </div>
                            <div class="col-md-12">
                                <label class="control-label">Email: award@mcciapune.com,
                                    satishj@mcciapune.com</label>
                            </div>
                        </center>
                    </div>
                </div>
            </div>
    </div>
</section>