<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>MCCIA</title>
</head>
<body>

{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<!-- Breadcrumb section starts here -->
<section class="InternalBannerSection" style="background-image: url({% static 'assets/images/internal-banner.jpg' %});">
    <div class="InternalInnerArea">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <h2>R J RATHI AWARD FOR GREEN INITIATVE IN INDUSTRIES IN MAHARASHTRA</h2>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <ol class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li><a href="/awardsapp/awards-home/">Awards</a></li>
                        <li class="active"><a href="#">R J RATHI AWARD FOR GREEN INITIATVE IN INDUSTRIES IN MAHARASHTRA</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb section end here -->

<!-- Award Details section start here -->
<section class="internalSection">
    <div class="container">
        <div class="row">
            <!--<div class="col-md-12 col-sm-12 col-xs-12">
                  <h2>B. G. Deshmukh IAS Award for CSR</h2>
            </div> -->
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <div class="AwardDetailPanel">
                    <h2>R J RATHI AWARD FOR GREEN INITIATVE IN INDUSTRIES IN MAHARASHTRA</h2>
                    <h5>Green Initiative</h5>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#AwardDetails" aria-controls="AwardDetails"
                                                                  role="tab" data-toggle="tab" aria-expanded="true">Award
                            Details</a></li>

                        <li role="presentation" class=""><a href="#ViewAwardees" aria-controls="ViewAwardees" role="tab"
                                                            data-toggle="tab" aria-expanded="false">View Awardees</a>
                        </li>

                        <li role="presentation" class=""><a href="#Photogallery" aria-controls="Photogallery" role="tab"
                                                            data-toggle="tab" aria-expanded="false">Photogallery</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="AwardDetails">
                            <div class="AwardInfoPanel">
                                <div class="media">
                                    <div class="media-left">
                                        <img class="media-object" src="{% static 'assets/images/awards-img1.jpg' %}"
                                             alt="...">
                                    </div>
                                    <div class="media-body">
                                        <p align="justify">The Dr. R.J. Rathi Award for Green
                                            Initiatives in Maharashtra was instituted
                                            by Dr. R. J. Rathi Charity Trust and is
                                            administered by MCCIA since 1995.<br>
                                        MCCIA strives to encourage industries
                                            to practice environment friendly
                                            methods in order to preserve and
                                            conserve the environment.<br>
                                        To encourage the green initiatives carried out by corporates
                                            to contribute to a green and pollution free environment.<br>
                                        The purpose of this award is to provide encouragement and recognition to the
                                            efforts made by industries in Maharashtra towards control and abatement of
                                            environmental pollution.<br>
                                        <p align="justify"><b style="font-weight: 900;">Eligibility:</b> All small,
                                            medium and large-scale units in Manufacturing and
                                            Service Industry are eligible to apply for this award.</p>
                                        <p align="justify"><b style="font-weight: 900;">Nature of the Award:</b> Trophy
                                            and Certificate</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="ViewAwardees">
                            <div class="AwardInfoPanel">
                                <div class="table-responsive TableCustomStyle">
                                    <table class="table table-striped">
                                        <thead>
                                         <tr>
                                           <th>Name</th>
                                            <th>Email</th>
                                            <th>Product</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>M/S KIRLOSKAR OIL ENGINES LTD</td>
                                            <td>Vivek.Deshpande@kirloskar.com</td>
                                            <td>-</td>
                                           
                                        </tr>
                                        <tr>
                                            <td>KHUTALE ENGINEERING PVT. LTD.</td>
                                            <td>Khutale.enggpl@gmail.com</td>
                                            <td>-</td>
                                            
                                        </tr>
                                        

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="Photogallery">
                            <div class="AwardInfoPanel">
                                <ul>
                                    <li style="margin-right: 1%;"><img src="{% static 'assets/media/awards/SKG_2342.JPG' %}" class="img-responsive"
                                             alt=""></li>
                                    <li style="margin-right: 1%;"><img src="{% static 'assets/media/awards/SKG_2358.JPG' %}" class="img-responsive"
                                             alt=""></li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="AwardContactPanel">
                    <h4>Contact Person:</h4>

                    <p><i class="fa fa-user-o"></i> Mr. Satish Joshi</p>

                    <p><i class="fa fa-volume-control-phone"></i>Phone:<a href="tel: 912025709162">91-20-25709162</a>
                    </p>
                    <p><i class="fa fa-mobile"></i>Mobile:<a href="tel: 9881127658">9881127658</a>
                    </p>

                    <p><i class="fa fa-envelope-open"></i>Email:<a href="mailto:satishj@mcciapune.com">satishj@mcciapune.com</a>
                    </p>

                    <p></p>

                    <div class="EnrollOnlinebox">
                        <h5>Last date of registration is October 30, 2019</h5>
                        <a href="/awardsapp/awards-registration/5">
                            Enroll Online
                        </a>
                    </div>
                    <!--<div class="selectdiv">
                        <select class="form-control">
                          <option value="">View other awards</option>
                          <option value=""><a href="http://demo.mcciapune.com/home.aspx">Awards</a></option>
                          <option value="">Awards</option>
                          <option value="">Awards</option>
                          <option value="">Awards</option>
                        </select>
                    </div>-->

                    <div class="dropdown ViewOtherAwardsDropdown">
                        <a class="dropdownBtn" id="dLabel" data-target="#" href="http://example.com"
                           data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            View other awards
                            <i class="fa fa-chevron-down" aria-hidden="true"></i>
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dLabel">
                            <li><a style="font-size: 12px;" href="/awardsapp/awards-details">B. G. DESHMUKH IAS AWARD</a></li>
                            <li><a style="font-size: 12px;" href="/awardsapp/awards-details2">G. S. PARKHE AWARD</a></li>
                            <li><a style="font-size: 12px;" href="/awardsapp/awards-details3">HARIMALINI JOSHI AWARD</a></li>
                            <li><a style="font-size: 12px;" href="/awardsapp/awards-details4">LATE KIRAN NATU UDYOJAKTA PURASKAR</a></li>
                            <li><a style="font-size: 12px;" href="/awardsapp/awards-details5">R J RATHI AWARD</a></li>
                            <li><a style="font-size: 12px;" href="/awardsapp/awards-details6">RAMABAI JOSHI AWARD</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- Award Details section end here -->

{% endblock %}
</body>
</html>
