/*InternalBannerSection css starts here*/
.InternalBannerSection {
    width: 100%;
    height: 94px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    position: relative;
}
.internalSection .backgnd {
    margin-bottom: 30px;
}
.InternalBannerSection .breadcrumb {
    background: none;
}
.InternalBannerSection .breadcrumb {   
    float: right;
    padding:0;
}
.InternalInnerArea {
    padding-top: 37px;
}
.InternalInnerArea h2 {
    margin: 0;
    color:#ffffff;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Merriweather', serif;
}
.InternalBannerSection .breadcrumb li {    
    font-size: 11px;
    font-weight: 400;
    font-family: 'Merriweather', serif;
}
.InternalBannerSection .breadcrumb li a{
	color: #fff;
    border-bottom: 1px solid #b3b7ba;
    text-decoration: none;
}
.InternalBannerSection .breadcrumb li:first-child a:hover {
    color: #0167b2;
}
.InternalBannerSection .breadcrumb li:last-child a {
    cursor: default;
}
.InternalBannerSection .breadcrumb>.active a {
    color: #a4a4a4;
}
.InternalBannerSection .breadcrumb>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "\f105";
    font-family: fontawesome;
}
/*InternalBannerSection css ends here*/
.internalSection{
    border-bottom: 1px solid #e3e4e8;
    padding: 40px 0;
}

.internalSection p {
    color: #5a5e62;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    line-height: 26px;
    padding-right: 10px;
}
.internalSection h4 {
    color: #161d28;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Merriweather', serif;
    margin-bottom: 8px;
}
.HistoryHeading h4 {
    margin-bottom: 20px!important;
}
.internalSection ul li{
	padding-left: 30px;
    position: relative;
    line-height: 26px;
    color: #5a5e62;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    list-style: none;
    position: relative;
	margin-bottom: 10px;
}
.internalSection ul li:before {
    content: '';
    background: url(../images/history.png) no-repeat;
    position: absolute;
    top: 5px;
    left: 0;
    width: 14px;
    height: 14px;
}
.HistoryHeading  h4 {
    color: #146539;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Merriweather', serif;
    margin-top: 25px;
}

/*heading style css starts here*/
.internalSection .CommanheadingStyl {
   margin-bottom: 20px;
}
.internalSection h1 {
    color: #161d28;
    font-size: 32px;
    font-weight: 700;
    font-family: 'Merriweather', serif;
    margin-bottom: 0;
}
.CommanheadingStyl span {
    color: #5a5e62;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
    margin-bottom: 0;
}
.internalSection h2 {
    color: #000000;
    font-size: 20px;
    font-weight: 800;
    font-family: 'Merriweather', serif;
    margin-bottom: 30px;
    margin-top: 0;
}
.internalSection .CommanheadingStyl h2 {
    margin-bottom: 0;
    font-weight: 700;
    font-size: 26px;
}
.internalSection h3 {
    color: #161d28;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Merriweather', serif;
    margin-bottom: 0;
}

.internalSection  h5 {
    color: #5a5e62;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    margin-bottom: 0;
}
.internalSection  h6 {
    color: #5a5e62;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    margin-bottom: 0;
}
/*table css starts here*/
.internalSection .table {
    border: #e3e4e8 solid 1px;
    border-radius: 6px;
}
.internalSection .table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #ffffff;
}
.internalSection .table-striped>tbody>tr:nth-of-type(even) {
    background-color: #f9f9f9;
    border: 1px solid #f3ecec;
}
.internalSection table thead > tr > th {  
    color: #146539;
    font-weight: 700;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    padding: 17px 20px;
    background: #ffffff;
    border: none;
    border-bottom: #f1f1f3 solid 2px;
}
.internalSection .table tbody > tr > td {
	color: #5a5e62;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    padding: 15px 20px;
    border: none;
    border-bottom: none;
}
/*table css ends here*/
/*tabber style css Starts here*/
.internalSection .nav-tabs {    
    margin-bottom: 0;
    display: block;
}
.internalSection .nav-tabs li:before {
    display: none;
}

.internalSection .nav-tabs > li.active > a, .internalSection .nav-tabs > li.active > a:hover, .internalPageWrap .nav-tabs > li.active > a:focus {
    border-top: 3px #14653f solid;
    background: #fff;
    color: #14653f;
    border-radius: 0;
}
.internalSection .nav-tabs li {
   padding-left: 0;
    margin-bottom: -1px;
    background: #f6f7f6;
}
.internalSection .nav-tabs li a{
    color: #161d28;
    font-size: 14px;
    font-weight: 700;	
    font-family: 'Merriweather', serif;
}
.internalSection .nav>li>a {
    padding: 12px 25px 12px 25px;
    margin-right: 0;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-radius: 0;
}
.internalSection .nav>li>a:hover{
    border-top: 3px #14653f solid;
    background: #fff;
    border-radius: 0;

}
.internalSection .tab-content p {
    padding: 0 30px;
}

/*tabber style css ends here*/

 /*accordian css starts here*/
 .internalSection .tab-content {
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.internalSection .panel-group .panel { 
    border-radius:0;
    border:none;
    margin-top:4px;
    box-shadow:none;
    margin-bottom: -5px;
}
.internalSection .panel-title { 
    margin:0;
}
.internalSection .panel-title > a {
    display: block;
    color: #161d28;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    font-family: 'Merriweather', serif;
}
.internalSection .panel-title span {
    margin-right: 0;
    float: right;
}
.internalSection .panel-title .fa {
     font-size: 16px;
    color: #fff;
    background: #a4a9ae;
    width: 35px;
    height: 35px;
    line-height: 34px;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    right: 31px;
    top: 12px;
}
.headingActive .panel-title span {
    background: #fff!important;
    color: #146539!important;
    border: 2px solid #146539;
}
.internalSection .panel-default > .panel-heading {
    background: #f5f5f5;
    color: #000000;
    padding: 0;
    border: 1px solid #e3e4e8;
    border-radius: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.internalSection .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border: none;
    background: #ffffff;
    line-height: 26px;
    padding: 20px 20px; 
    /*padding-right: 98px;*/
}
.internalSection .headingActive .panel-heading  {
    background: #ffffff!important;
    border: none;
    color: #ffffff!important;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.internalSection .headingActive .panel-title > a {
    color: #146539;
    font-weight: 600;
    font-size: 16px;
    font-family: 'Merriweather', serif;
}
.internalSection .headingText {
    padding: 20px 20px;
    position: relative;
}
.internalSection .headingActive {
    border: 1px solid #e3e4e8!important;
}
.internalSection .headingActive .panel-body {
    /*padding-top: 0!important;*/
}

/*accordian css end here*/
/*FormStyleInnerArea css starts here*/
.internalSection form .form-control {
    font-size: 13px;
    color: #393b3f;
    font-family: 'Lato', sans-serif;
}
.internalSection p span{
/*color: #f01b1b;*/
}
.internalSection input {
    position: relative;
}
.internalSection .form-group input[type=text] {
    height: 38px;
    border-radius: 3px;
    margin-bottom: 20px;
}
.FormStyle .form-group textarea[text=text]{
	height: 125px;
}
.Formbuttons .btn {
    background: #47ce85;
    color: #2a2d30;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Merriweather', serif;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-top: 10px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    position: relative;
    margin-right: 5px;
}
.Formbuttons .btn:hover {
    background: #ffffff;
    color: #47ce85;
    border:1px solid #47ce85;
}
.Formbuttons .reset{
	background: #ffffff;
	color: #2a2d30;
}
.Formbuttons .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{
	outline: none;
}
.internalSection form p {
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 13px;
}
.validateField.has-error .help-block:after {
	content: "i";
    position: absolute;
    font-family: fontawesome;
    background: #ffffff;
    border: 1px solid #fb0000;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    font-size: 15px;
    text-align: center;
    line-height: 16px;
    font-weight: 700;
    font-style: italic;
    bottom: 35px;
    right: 14px;   
}

/*FormStyleInnerArea css ends here*/
/*responsive css starts here*/
@media (max-width:1199px){

}
@media (max-width:991px){
	.InternalBannerSection {
		height: auto;
}
.InternalInnerArea {
    padding-top: 20px;
    padding-bottom: 20px;
}
.InternalBannerSection .breadcrumb {
   display: none;
}
.internalSection h1 {
    font-size: 22px;
}
.internalSection h2 {
    font-size: 20px;
}
.internalSection h3 {
    font-size: 18px;
}
.internalSection .CommanheadingStyl {
    margin-bottom: 10px;
}
.internalSection .CommanheadingStyl h2 {
    font-size: 20px;
}
}
@media (max-width:767px){
	.captchaCode {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
}
}
@media (max-width:580px){

}
@media (max-width:480px){
	.internalSection h1 {
    font-size: 16px;
}
.internalSection h2 {
    font-size: 15px;
}
.internalSection h3 {
    font-size: 14px;
}
.internalSection h4 {
    font-size: 13px;
}
.internalSection .nav>li>a {
    padding: 10px 20px;
}
.internalSection .nav-tabs li a {
    font-size: 12px;
}

.internalSection .headingText {
    padding: 16px 10px;
}
.internalSection .panel-default > .panel-heading + .panel-collapse > .panel-body {
    padding: 12px 10px;
}
.internalSection .panel-title .fa {
    right: 6px;
    top: 7px;
}
.internalSection .panel-title > a {
    font-size: 14px;
}
.internalSection .headingActive .panel-title > a {
    font-size: 14px;
}
}
@media (max-width:320px){
	.captchaCode {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
}
	}
