<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>MCCIA</title>

</head>
<body>
{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
  
  
  <section class="InternalBannerSection" style="background-image: url({% static 'assets/images/internal-banner.jpg' %});">
  <div class="InternalInnerArea">
     <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <h2>Certificate of Origin</h2>                    
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <ol class="breadcrumb">
                      <li><a href="/">Home</a></li>
                      <li class="active"><a href="#">Certificate of Origin</a></li>
                    </ol>
                </div>
            </div>
        </div> 
  </div>        
  </section>
  <section class="internalSection">
        <div class="container">
            <div class="row">   
              <div class="col-md-12 col-sm-12 col-xs-12">               
              	<h2>Certificate of Origin (Non Preferential) for Exporters</h2>

<p>The Non Preferential Certificate of Origin is an endorsement that the product is manufactured in India. Mahratta Chamber of Commerce, Industries and Agriculture is   authorized to issue the Non Preferential Certificate of Origin for the benefit of Exporters by the Government of India since 1958. </p>
<br />
<h4>Services Available:</h4>
<ul>
<li>Certificate of Origin is available only for goods manufactured and exported out of India.</li>
<li>Attestation of Packing List.</li>
<li>Attestation of Invoices and other documents related to exports.</li>
<li>Facility of Visa Recommendation Letter for business purpose for MCCIA members only.</li>
</ul>
<br />
<h4>Time:</h4>
<p><strong>10:00 a.m. to 5:00 p.m. all offices other than Tilak Road branch<br />
Tilak Road : 12:30 p.m. to 4:00 p.m.</strong></p>
 
<br />
<h4>Process of availing Certificate of Origin and Allied Documents</h4>

<ul>
<li>Exporters who would like to obtain the Certificate of Origin for the first time will have to execute a one-time Indemnity Bond on a stamp paper or other notified instrument for Rs 500 in the favour of MCCIA.</li>
<li>This bond will be valid till the time it is rescinded by any law or change in the procedure adopted by the Chamber. <a href="#"><strong>Format Available</strong></a></li>
<li>The next step is to purchase blank forms for Certificate of Origin. These are available for       Rs. 3 per form and in multiples of 10 blank forms.</li>
<li>After filling in the  form in the  prescribed format you can submit (normally 5 originals) Certificate of Origin, get signatures of your officials and stamp of company (right side bottom).</li>
<li>You can get the copies attested   after verifying the forms at MCCIA.</li>
</ul>
<br />
<h4>Charges:</h4>
<ul>
<li>Rs. 110 for a total of 5 pages of the same document for MCCIA members and Rs 120 for non members. Rs. 40 for every additional page.</li>
<li>MCCIA Staff generate a reference number and obtain signatures of officials.</li>
<li>MCCIA will keep one copy of each document certified for reference.</li>
<li>For regular customers, MCCIA would like to advise them to keep an amount as deposit which can be used to debit charges for Certification/Attestation.</li>
</ul>

<br />
<h4>Contact:</h4>
<p><strong>Senapati Bapat Road </strong><br />
Mrs. Snigdha Goliwadekar, Telephone: 020-25709271,  Email : <a href="mailto:snigdhag@mcciapune.com">snigdhag@mcciapune.com</a> <br />
Ms. Sonal Phadnis : 020-25709213, Email : <a href="mailto:sonalp@mcciapune.com">sonalp@mcciapune.com</a></p>
 
<p><strong>Tilak Road </strong> <br />
 Mr Yashodhan Jatar, Telephone: 020-24440371, Email: <a href="mailto:yashodhanj@mcciapune.com">yashodhanj@mcciapune.com</a> <br />
 Mr Shrikant Kawashte, Telephone: 020-24440472, Email: <a href="mailto:shrikantk@mcciapune.com">shrikantk@mcciapune.com</a> </p>

<p><strong>Bhosari </strong><br />
Mr. Sasidharan, Telephone: 020-27130700, Email: <a href="mailto:sasidharan@mcciapune.com">sasidharan@mcciapune.com</a></p>

<p><strong>Hadapsar </strong><br />
Mr. Mandar Marathe, Telephone: 020-26877010, Email: <a href="mailto:mandarm@mcciapune.com">mandarm@mcciapune.com</a> <br />
Mrs. Roshni Meisnam, Telephone: 020-26877010, Email: <a href="mailto:roshnim@mcciapune.com">roshnim@mcciapune.com</a></p>

<p><strong>Ahmednagar </strong> <br />
Mr. Vilas Kulkarni, Telephone:0241-2777837, Email : <a href="mailto:mccianagar@gmail.com">mccianagar@gmail.com</a></p>


 
                   
              </div>
              
              <div class="col-md-12 col-sm-12 col-xs-12">

				  <div class="Formbuttons">
                     <a class="btn btn-default subbtn" href="/">BACK</a></div>                 
                  </div>
                  
              </div>
            </div>
        </div>  
    </section>

{% endblock %}


</body>
</html>
  

