<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>MCCIA</title>

</head>
<body>
{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
  <section class="InternalBannerSection" style="background-image: url({% static 'assets/images/internal-banner.jpg' %});">
  <div class="InternalInnerArea">
     <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <h2>Library Services</h2>                    
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <ol class="breadcrumb">
                      <li><a href="http://demo.mcciapune.com/default.aspx">Home</a></li>
                      <li class="active"><a href="#">Library Services</a></li>
                    </ol>
                </div>
            </div>
        </div> 
  </div>        
  </section>
  
  <section class="internalSection">
        <div class="container">
            <div class="row">   
              <div class="col-md-12 col-sm-12 col-xs-12">               
              	<h2>Library</h2>

<p>The Commercial reference Library of MCCIA has been in inception since 6th May 1978. It  was inaugurated by the then Union Minister of Industries, Shri George Fernandez.  Set up in  2176 sq. feet, overseeing the scenic beauty of Pune; the library provides a  peaceful reading atmosphere. It is one of the major reference resource in Pune which is open to its members and non members  as well. MCCIA invites you to become a member of the library and avail benefits of the vast collection of books and reference material. We have the following at your disposal;</p>

<ul>
<li>6000 Books</li> 
<li>100 Periodicals</li> 
<li>515 Reports</li>
<li>380 CDs</li>
</ul>

<p><strong>Besides you can refer to the following Categories;</strong></p>
<ul>
<li>Management Books</li>
<li>Finance  and Banking</li>
<li>Agriculture</li>
<li>Biographies</li>
<li>Profiles of  SMEs</li>
<li>Directories</li>
<li>Yearbooks </li>
<li>Statistical data</li>
<li>State and Central Government Gazettes</li>
<li>Other Non Fiction</li>
</ul>

<p>Our Online public catalogue is available on our website, on the library page. Please contact Librarian (link to the contact person) for more details.</p>

<!--<p>Library page - <a href="http://sub.mcciapune.com/cms/Library-Services.aspx">http://sub.mcciapune.com/cms/Library-Services.aspx</a></p>-->

<p>Catalogue -  <a href="#" target="_blank">http://opac.mcciapune.com/Default.aspx</a></p>

<p><strong>You are welcome to visit our Library, avail this library service and enjoy reading. Entry is free for MCCIA members. Others can avail of the service at only Rs. 20/-</strong></p>
<br />
<h4>Contact:</h4>

<p><strong>Ms. Anuja Deshpande</strong><br />
MCCIA LIBRARY<br />
Mahratta Chamber of Commerce, Industries and Agriculture<br />
505, A Wing, 5th Floor, MCCIA Trade Towers, Senapati Bapat Road, Pune 411 016.<br />
<strong>FAX :</strong> 020-25709021<br />
<strong>Phone :</strong> 020-25709231, 25709000</p>
                  
              </div>
              
              <div class="col-md-12 col-sm-12 col-xs-12">

				  <div class="Formbuttons">
                     <a class="btn btn-default subbtn" href="/">BACK</a></div>                 
                  </div>
                  
              </div>
            </div>
        </div>  
    </section>
  


{% endblock %}


</body>
</html>
  

