<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>MCCIA</title>
    <style>
        li.no-image:before {
            content: '';
            background: none !important;
            position: absolute;
            top: 5px;
            left: 0;
            width: 14px;
            height: 14px;
        }


    </style>
</head>
<body>
{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<section class="InternalBannerSection" style="background-image: url({% static 'assets/images/internal-banner.jpg' %});">
    <div class="InternalInnerArea">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <h2>Sustainability Desk</h2>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <ol class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li class="active"><a href="#">Sustainability Desk</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="internalSection">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <font size="5">"Resonating Sustainability Actions for Future"</font>
                <br>
                <div style="margin-left:70px;">
                    <font size="4">Planet, People, Prosperity and Organization/s</font>
                </div>
                <br><br>
                <p>MCCIAs Sustainability Desk is experienced in sustainability actions and report
                    development.
                    <br> We prepare ‘Sustainability Reports’ as per relevant global ‘reporting frameworks’ like:</p>

                <div style="margin-left:20px;">
                    <ul>
                        <li>GRI Standards</li>
                        <li>Integrated reporting</li>
                        <li>CDP</li>
                        <li>BRR for BSE, etc.</li>
                    </ul>
                </div>
                <br>
                <div>
                    <p>&nbsp;We help large and small enterprises in -</p>
                    <ul>
                        <div style="margin-left:20px;">
                            <li>Understanding the benefits of various sustainability actions and reporting that
                                includes
                            </li>
                        </div>
                    </ul>
                    <div style="margin-left:70px; line-height:280px;">

                        <ul style="list-style-type:none !important;">
                            <li class="no-image"><img src="{% static 'sustanability_images/Bottom.png' %} "
                                                      style="width:30px; height:30px;"> &nbsp;Bottom line improvement –
                                triple impact along planet, people and profit
                            </li>
                            <li class="no-image"><img src="{% static 'sustanability_images/Access.png' %} "
                                                      style="width:30px; height:30px;"> &nbsp;Access to MNC clients –
                                diversifying to align with emerging trends
                            </li>
                            <li class="no-image"><img src="{% static 'sustanability_images/Business.png' %} "
                                                      style="width:30px; height:30px;"> &nbsp; Business continuity –
                                proactive and responsive actions
                            </li>
                            <li class="no-image"><img src="{% static 'sustanability_images/Unlock.png' %} "
                                                      style="width:30px; height:30px;"> &nbsp; Unlock inherent risks –
                                ahead of time
                            </li>
                            <li class="no-image"><img src="{% static 'sustanability_images/Explore.png' %} "
                                                      style="width:30px; height:30px;"> &nbsp; Explore new opportunities
                            </li>
                            <li class="no-image"><img src="{% static 'sustanability_images/Stakeholders.png' %} "
                                                      style="width:30px; height:30px;"> &nbsp; Stakeholders connect –
                                value creation
                            </li>
                            <li class="no-image"><img src="{% static 'sustanability_images/Long.png' %} "
                                                      style="width:30px; height:30px;"> &nbsp; Long term business value
                                – future of business
                            </li>
                        </ul>
                    </div>
                    <div style="margin-left:20px;">
                        <ul>
                            <li>Building capacities of cross functional teams</li>
                            <li>Participating in various international awards relevant to respective enterprise</li>
                            <li>Imparting know-how based on international learning, experience and case studies.</li>
                        </ul>
                    </div>
                    <br>
                    <p>We act as a knowledge partner in the journey of sustainable values of an
                        enterprise.</p>
                    <br>
                <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading1">
                            <h5 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion2"
                                   href="#readmore"
                                   aria-expanded="false" aria-controls="collapseThree">
                                    <div class="headingText"><span class="fa fa-plus"></span>Read More</div>
                                </a>
                            </h5>
                        </div>
                        <div id="readmore" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8">
                            <div class="panel-body">

                                <p>
                                    MCCIA’s - Sustainability Desk facilitates, engages and helps organisations to adopt
                                    sustainability actions within their business operations to grow sustainably and to
                                    improve their triple bottom line performance.
                                    Working closely with cross functional teams to build capacities, increase moral and
                                    intellectual human capital by adopting international learning,
                                    experience and case studies. The Desk becomes a knowledge partner in the
                                    ‘organizations’
                                    journey of overcoming sustainability issues benefiting economic, environmental and
                                    social dimensions of sustainable development for everyone.
                                </p>
                                <p>The Desk works with the core team of organisations to inspire and focus
                                    on activities
                                    like analysing key areas of improvements, analysing
                                    materiality issues for uncovering new opportunities and diverse inherent risks,
                                    setting
                                    targets and
                                    sustainability indicators, developing strategies, recommending measures/solutions,
                                    pre-feasibility
                                    of measures, preparing implementation plan, training, monitoring the results of
                                    sustainability
                                    targets and developing sustainability report.</p>
                                <p> There are several specific areas of improvements like access to capital,
                                    clients
                                    connect, health and safety, human-capital performance, emissions reduction and
                                    mitigation, energy
                                    conservation and management, environmental performance/compliances, maintenance
                                    costs
                                    management,
                                    waste reduction, reuse and recycle, supply-chain management, financial performance,
                                    institutional
                                    certifications, bio-diversity, CSR, etc which make an impact on profitability,
                                    planet
                                    and
                                    people.</p>

                            </div>
                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading2">
                            <h5 class="panel-title">
                                <a class="collapsed " data-toggle="collapse" data-parent="#accordion2"
                                   href="#sustainability"
                                   aria-expanded="false" aria-controls="collapseThree">
                                    <div class="headingText"><span class="fa fa-plus"></span>Why sustainability?</div>
                                </a>
                            </h5>
                        </div>
                        <div id="sustainability" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="heading8">
                            <div class="panel-body">

                                <p>The world is changing rapidly and so are the market trends -
                                <ul>
                                    <li>Organizations are witnessing changes like transformative dynamics of the market,
                                        several
                                        regulations
                                        globally, nationally and locally
                                    </li>
                                    <li>Rapidly changing global economy and uncertainties making impact on the
                                        stakeholders
                                        in the
                                        entire
                                        supply-value chain like clients, bankers, investors, employees, suppliers,
                                        contractors,
                                        regulators,
                                        governments etc. and all are facing several challenges and going through a
                                        crucial
                                        phase
                                    </li>
                                    <li>High pressure on increasing revenues and bottom line of the organizations</li>
                                    <li> Rising demand on resources due to urbanization, population and weather
                                        conditions,
                                        largely
                                        creating stress on the planet, people, prosperity
                                    </li>
                                    <li>Therefore, it is important to assess the existing and emerging business
                                        risks/challenges and
                                        opportunities to improve business operations in sustainable way.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading3">
                            <h5 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion2"
                                   href="#value_proposition"
                                   aria-expanded="false" aria-controls="collapseThree">
                                    <div class="headingText"><span class="fa fa-plus"></span>What is value proposition?
                                    </div>
                                </a>
                            </h5>
                        </div>
                        <div id="value_proposition" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="heading8">

                            <div class="panel-body">

                                <p>Value proposition of sustainability reporting for any
                                    organization -
                                <ul>
                                    <li>
                                        Sustainability report captures the performance about how well organization is
                                        doing
                                        with respect
                                        to
                                        economic growth (profit), environmental performance (planet) and social
                                        inclusion
                                        (people),
                                        which is
                                        called ‘triple bottom line performance’
                                    </li>
                                    <li>
                                        Setting sustainability targets and indicators for next few years and preparing
                                        roadmaps to
                                        achieve
                                        those targets
                                    </li>
                                    <li>‘Materiality analysis’, which helps to identify and prioritise new opportunities
                                        as
                                        well as
                                        inherent
                                        risks for making organization more sustainable day-by-day
                                    </li>
                                    <li>The outcome is the ‘Sustainability Report’, for disclosure of relevant
                                        information
                                        to the
                                        stakeholders, who further add value for the ‘future of organization’.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
                <div class="col-lg-12 col-md-12 col-sm-10 col-xs-10">
                    <div class="branchOfficeAddress"
                         style="margin-top: 45px;min-height: 0; background-color:; ">
                        <h4>Contact us</h4>
                        <p><i aria-hidden="true"></i> Mr. Chetankumar Sangole </p>
                        <p><i aria-hidden="true"></i> Head - Sustainability Desk </p>
                        <p>
                            <b><i aria-hidden="true"></i> Email:</b> <a
                                href='mailto:chetankumars@mcciapune.com'>chetankumars@mcciapune.com</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

                <div class="branchOfficeAddress" style="margin-top: 45px;min-height: 0;">
                    <h4> &nbsp;&nbsp;&nbsp;&nbsp;More Information</h4>
                    <p><b>Information:</b> <a href="/sustainabilityapp/sustainability-tab/#information"
                                              aria-hidden="true">Click Here </a><br>
                        <b>Case Study:</b> <a href="/sustainabilityapp/sustainability-tab/#casestudy"
                                              aria-hidden="true">Click Here </a><br>
                        <b>What Members Are Saying?:</b> <a
                                href="/sustainabilityapp/sustainability-tab/#youtubelink" aria-hidden="true">Click
                            Here </a><br>
                        <b>Sustainable Business:</b> <a
                                href="/sustainabilityapp/sustainability-tab/#standeechart" aria-hidden="true">Click
                            Here </a><br>
                        <b>Supported Member Org.:</b> <a href="/sustainabilityapp/sustainability-tab/#supportmember"
                                                         aria-hidden="true">Click Here </a><br>
                        <b>Events:</b> <a href="/sustainabilityapp/sustainability-tab/#events" aria-hidden="true">Click
                            Here </a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<script>

</script>
{% endblock %}


</body>
</html>

