<!DOCTYPE html>

<html lang="en">

<!-- BEGIN HEAD -->
{% load staticfiles %}
<head>
    <meta charset="utf-8"/>
    <title>MCCIA | Add New Event </title>
    {% include 'backoffice/base_css.html' %}
    <!-- END THEME LAYOUT STYLES --> </head>
<!-- END HEAD -->

<body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid">
<!-- BEGIN HEADER -->
<div id="processing" style="display:none;">
    <div id="loading">
        <img src="{% static 'assets/loading-bars.gif' %}" style="height : 100px;">

    </div>
</div>


<!-- BEGIN HEADER & CONTENT DIVIDER -->
<div class="clearfix"></div>
<!-- END HEADER & CONTENT DIVIDER -->


<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar-wrapper">
        <div class="page-sidebar navbar-collapse collapse">
            {% include 'backoffice/membership/side-panel.html' %}
        </div>
    </div>
    <!-- END SIDEBAR -->

    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <div class="portlet light">
                <div class="page-bar">
                    <ul class="page-breadcrumb">
                        <li>
                            <a href="/backofficeapp/manage-halls/" style="color: #3eb199;font-size: 16px;">Hall
                                Booking</a>
                        </li>
                        <i class="fa fa-angle-right"></i>
                        <li>
                            <span style="color: #00448b;font-size: 16px;">Edit New Hall Locations </span>
                        </li>
                    </ul>
                </div>
                <!-- BEGIN FORM-->
                <div class="row" id="main_div">
                    <div class="col-sm-12">
                        <div class="portlet light profile-sidebar-portlet bordered">
                            <div class="row">
                                <input type="text" id="hall_detail_id"
                                                           name="hall_detail_id" value="{{hallDetails.id}}"
                                                           hidden/>
                                <div class="col-xs-12">
                                    {% csrf_token %}
                                    <form id="edit_new_hall_form" role="form" enctype="multipart/form-data"
                                          name="edit_new_hall_form" method="POST">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group form-md-line-input has-success"
                                                     id="hallLocation">
                                                    <label class="control-label">Hall Location<span
                                                            class="required">*</span></label>
                                                    <select id="edit_hallLocation" name="select_hallLocation"
                                                            class="form-control input-sm select2" onchange="get_hall_list()">

                                                        {% for i in hallLocationObj %}
                                                            {% if i.id == hallDetails.hall_location.id %}
                                                            <option value="{{i.id}}" Selected>{{i.location}}</option>
                                                            {% else %}
                                                            <option value="{{i.id}}">{{i.location}}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                    <label id="edithallLocation_error"
                                                           style="color:red; display:none;"></label>
                                                </div>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="form-group form-md-line-input has-success">
                                                    <label class="control-label"> Hall Name <span
                                                            class="required">*</span></label>
                                                    <input id="edit_hallName" name="edit_hallName"
                                                           class="form-control" value="{{hallDetails.hall_name}}"
                                                           maxlength="260" onkeypress="return isKeypress(event, this)" />
                                                    <label id="edithallName_error"
                                                           style="color:red; display:none;"></label>
                                                </div>
                                            </div>


                                        </div>

                                        <br>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group form-md-line-input has-success"
                                                     id="edit_hallFacility">
                                                    <label class="control-label">Hall Facility<span
                                                            class="required"></span> (max 500 char)</label>
                                                    <label id="edithallFacility_error"
                                                                   style="color:red; display:none;"></label>
                                                        <div class="col-md-12">
                                                             {% for i in hallFunctioningEquipment %}
                                                                <div class="col-xs-4">
                                                                        <div class="md-checkbox">
                                                                            <input type="hidden" id="f_name_{{i.id}}" value="{{i.equipment_name}}">
                                                                            <input type="checkbox" name="edit_hallFacilityEquipement" value="{{i.id}}"
                                                                                   id="edit_hallFacilityEquipement{{i.id}}"
                                                                                   class="md-check validateRequired rootView viewEdit{{i.id}} view{{i.id}} viewcheckbox" onclick="ConfigureFacilityRate(this);">
                                                                            <label for="edit_hallFacilityEquipement{{i.id}}">
                                                                                <span></span>
                                                                                <span class="check"></span>
                                                                                <span class="box"></span> {{i.equipment_name}} </label>
                                                                        </div>
                                                                  </div>
                                                            {% endfor %}
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" id="FacilityMainDiv">
                                           {% for obj in HallFacilityObjList %}
                                       		<div class="col-md-12" id="FacilityRowDiv_{{obj.hall_functioning_equipment.id}}">
													      	<div class="col-md-1">
												               <div class="form-group form-md-line-input has-success"
												                  id="">
												                  <label>Facility :</label>
												               </div>
												            </div>
												            <div class="col-md-3">
												               <div class="form-group form-md-line-input has-success">
												                  <input type="text" class="form-control" id="f_name_{{obj.hall_functioning_equipment.id}}"
												                     readonly="" name="f_name_{{obj.hall_functioning_equipment.id}}" value="{{obj.hall_functioning_equipment.equipment_name}}">
												                  </div>
												               </div>
												            <div class="col-md-1">
												               <div class="form-group form-md-line-input has-success"
												                  id="">
												                  <label>Non Member<span class="required">*</span>&nbsp&nbsp:</label>
												               </div>
												            </div>
												            <div class="col-md-3">
												               <div class="form-group form-md-line-input has-success" id="facility_nmchargeDiv_">
												                  <input type="text" class="form-control" id="facility_nmcharge_{{obj.hall_functioning_equipment.id}}" value="{{obj.non_member_charges}}"
												                     name="facility_nmcharge_{{obj.hall_functioning_equipment.id}}" minlength="1" maxlength="5" onkeypress="return validateFloatKeyPresss(this, event)">
												               </div>
												            </div>
												            <div class="col-md-1">
												               <div class="form-group form-md-line-input has-success"
												                  id="">
												                  <label>Member<span class="required">*</span>&nbsp&nbsp:</label>
												               </div>
												            </div>
												            <div class="col-md-3">
												               <div class="form-group form-md-line-input has-success"
												                 id="facility_nmchargeDiv_" >
												                  <input type="text" class="form-control" id="facility_mcharge_{{obj.hall_functioning_equipment.id}}" value="{{obj.member_charges}}"
												                     name="facility_nmcharge_{{obj.hall_functioning_equipment.id}}" minlength="1" maxlength="5" onkeypress="return validateFloatKeyPresss(this, event)">
												               </div>
												            </div>
												           </div>
												         {% endfor %}
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group form-md-line-input has-success"
                                                     id="seatingStyle">
                                                    <label class="control-label"> Seating Style<span
                                                            class="required">*</span></label>
                                                    <select id="edit_seatingStyle" name="edit_seatingStyle"
                                                            class="form-control input-sm select2" onchange="selectSeatingStyle()">
                                                        <option value="Select">Select</option>
                                                        <option value="Theatre" {% if hallDetails.seating_style == "Theatre" %} selected{% endif %}> Theatre</option>
                                                        <option value="Board Room" {% if hallDetails.seating_style == "Board Room" %} selected{% endif %}> Board Room</option>
                                                        <option value="Class Room" {% if hallDetails.seating_style == "Class Room" %} selected{% endif %}> Class Room</option>
                                                    </select>
                                                </div>
                                                <label id="editseatingStyle_error"
                                                       style="color:red; display:none;"></label>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group form-md-line-input has-success"
                                                     id="select_hall_Capacity">
                                                    <label for="applicant_other_details">Capacity<span
                                                            class="required">*</span>(max 5 char) </label>
                                                    <input type="text" class="form-control" id="edit_hallCapacity"
                                                           name="edit_hallCapacity" value="{{hallDetails.capacity}}"
                                                           minlength="1" maxlength="5" onkeypress="return validateNumKeyPresss(this, event)">
                                                    <label id="edithallCapacity_error"
                                                           style="color:red; display:none;"></label>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                          <div class="form-group form-md-line-input has-success">
                                                <div class="md-checkbox">
                                                    <input type="checkbox" name="edit_OpenForOnline"
                                                       id="edit_OpenForOnline"
                                                       class="md-check" {% if hallDetails.is_open_for_online %} checked {% endif %}>

                                                <label for="edit_OpenForOnline">
                                                    <span></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span>Open for Online booking</label>

                                            </div>
                                          </div>
                                       </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group form-md-line-input has-success"
                                                     id="chargesfor8hr">
                                                    <label> Charges for 8 hours <span class="required">*</span> <br>(max 5 char)</label>
                                                </div>

                                            </div>
                                            <div class="col-md-1">
                                                <div class="form-group form-md-line-input has-success"
                                                     id="chargesfor8hrNM">
                                                    <label>Non Member<span
                                                            class="required">*</span>&nbsp&nbsp&nbsp:</label>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class=" form-group form-md-line-input has-success"
                                                     id="error_chargesfor8hrNM">
                                                    <input type="text" class="form-control" id="edit_chargesfor8hrNM"
                                                           name="edit_chargesfor8hrNM" value="{{hr8hallPrincingObj.nonmember_price}}"
                                                           minlength="1" maxlength="5" onkeypress="return validateFloatKeyPresss(this, event,'chargesfor8hrNM')">
                                                    <label id="chargesfor8hrNM_error"
                                                           style="color:red; display:none;"></label>
                                                </div>
                                            </div>

                                            <div class="col-md-1">
                                                <div class="form-group form-md-line-input has-success"
                                                     id="chargesfor8hrM">
                                                    <label>Member<span class="required">*</span>&nbsp&nbsp:</label>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class=" form-group form-md-line-input has-success"
                                                     id="error_chargesfor8hrM">
                                                    <input type="text" class="form-control" id="edit_chargesfor8hrM"
                                                           name="edit_chargesfor8hrM" value="{{hr8hallPrincingObj.member_price}}"
                                                           minlength="1" maxlength="5" onkeypress="return validateFloatKeyPresss(this, event,'chargesfor8hrM')">
                                                    <label id="chargesfor8hrM_error"
                                                           style="color:red; display:none;"></label>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group form-md-line-input has-success"
                                                     id="chargesfor4hr">
                                                    <label> Charges for 4 hours <span class="required">*</span> <br>(max 5 char)</label>
                                                </div>

                                            </div>
                                            <div class="col-md-1">
                                                <div class="form-group form-md-line-input has-success"
                                                     id="chargesfor4hrNM">
                                                    <label>Non Member<span
                                                            class="required">*</span>&nbsp&nbsp&nbsp:</label>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class=" form-group form-md-line-input has-success"
                                                     id="error_chargesfor4hrNM">
                                                    <input type="text" class="form-control" id="edit_chargesfor4hrNM"
                                                           name="edit_chargesfor4hrNM" value="{{hr4hallPrincingObj.nonmember_price}}"
                                                           minlength="1" maxlength="5" onkeypress="return validateFloatKeyPresss(this, event,'chargesfor4hrNM')">
                                                    <label id="chargesfor4hrNM_error"
                                                           style="color:red; display:none;"></label>
                                                </div>
                                            </div>

                                            <div class="col-md-1">
                                                <div class="form-group form-md-line-input has-success"
                                                     id="chargesfor4hrM">
                                                    <label>Member<span class="required">*</span>&nbsp&nbsp:</label>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class=" form-group form-md-line-input has-success"
                                                     id="error_chargesfor4hrM">
                                                    <input type="text" class="form-control" id="edit_chargesfor4hrM"
                                                           name="edit_chargesfor4hrM" value="{{hr4hallPrincingObj.member_price}}"
                                                           minlength="1" maxlength="5" onkeypress="return validateFloatKeyPresss(this, event,'chargesfor4hrM')">
                                                    <label id="chargesfor4hrM_error"
                                                           style="color:red; display:none;"></label>
                                                </div>
                                            </div>

                                        </div>


                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group form-md-line-input has-success"
                                                     id="chargesfor2hr">
                                                    <label> Charges for 2 hours <span class="required">*</span><br>(max 5 char)</label>
                                                </div>

                                            </div>
                                            <div class="col-md-1">
                                                <div class="form-group form-md-line-input has-success"
                                                     id="chargesfor2hrNM">
                                                    <label>Non Member<span
                                                            class="required">*</span>&nbsp&nbsp&nbsp:</label>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class=" form-group form-md-line-input has-success"
                                                     id="error_chargesfor2hrNM">
                                                    <input type="text" class="form-control" id="edit_chargesfor2hrNM"
                                                           name="edit_chargesfor2hrNM" value="{{hr2hallPrincingObj.nonmember_price}}"
                                                           minlength="1" maxlength="5" onkeypress="return validateFloatKeyPresss(this, event,'chargesfor2hrNM')">
                                                    <label id="chargesfor2hrNM_error"
                                                           style="color:red; display:none;"></label>
                                                </div>
                                            </div>

                                            <div class="col-md-1">
                                                <div class="form-group form-md-line-input has-success"
                                                     id="chargesfor2hrM">
                                                    <label>Member<span class="required">*</span>&nbsp&nbsp:</label>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class=" form-group form-md-line-input has-success"
                                                     id="error_chargesfor2hrM">
                                                    <input type="text" class="form-control" id="edit_chargesfor2hrM"
                                                           name="edit_chargesfor2hrM" value="{{hr2hallPrincingObj.member_price}}"
                                                           minlength="1" maxlength="5" onkeypress="return validateFloatKeyPresss(this, event,'chargesfor2hrM')">
                                                    <label id="chargesfor2hrM_error"
                                                           style="color:red; display:none;"></label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group form-md-line-input has-success"
                                                     id="chargesforExtrahr">
                                                    <label> Charges for Extra Hour <span
                                                            class="required">*</span><br>(max 5 char)</label>
                                                </div>

                                            </div>
                                            <div class="col-md-1">
                                                <div class="form-group form-md-line-input has-success"
                                                     id="chargesforExtrahrNM">
                                                    <label>Non Member<span
                                                            class="required">*</span>&nbsp&nbsp&nbsp:</label>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class=" form-group form-md-line-input has-success"
                                                     id="error_chargesforExtrahrNM">
                                                    <input type="text" class="form-control"
                                                           id="edit_chargesforExtrahrNM"
                                                           name="edit_chargesforExtrahrNM"
                                                           value="{{hallDetails.extra_nonmember_price}}" minlength="1" maxlength="5" onkeypress="return validateFloatKeyPresss(this, event,'chargesforExtrahrNM')">
                                                    <label id="chargesforExtrahrNM_error"
                                                           style="color:red; display:none;"></label>
                                                </div>
                                            </div>

                                            <div class="col-md-1">
                                                <div class="form-group form-md-line-input has-success"
                                                     id="chargesforExtrahrM">
                                                    <label>Member<span class="required">*</span>&nbsp&nbsp:</label>
                                                </div>
                                            </div>

                                            <div class="col-md-3 form-group form-md-line-input has-success">

                                                <input type="text" class="form-control"
                                                       id="edit_chargesforExtrahrM"
                                                       name="edit_chargesforExtrahrM" value="{{hallDetails.extra_member_price}}"
                                                       minlength="1" maxlength="5" onkeypress="return validateFloatKeyPresss(this, event,'chargesforExtrahrM')">
                                                <label id="chargesforExtrahrM_error"
                                                       style="color:red; display:none;"></label>

                                            </div>
                                        </div>


                                        <div class="row">
                                         <div class="col-md-3">
                                             <div class="form-group form-md-line-input has-success">
                                             <label>Hall Image<span class="required"></span>&nbsp&nbsp:</label>
                                                 <label id="hallImage_error"
                                                style="color:red; display:none;"></label>
                                          </div>


                                             </div>
                                        <div class="col-md-9">
                                                        <div class="fileinput {% if is_image %}fileinput-exists{% else %}fileinput-new{% endif %}" data-provides="fileinput">
                                                            <div class="fileinput-new thumbnail" style="width: 300px; height: 150px;">
                                                                <img src="/static/assets/images/no_image.png" alt="" style="width: 300px;"> </div>
                                                            <div class="fileinput-preview {% if is_image %}fileinput-exists{% else %}fileinput-new{% endif %} thumbnail" style="width: 300px; max-height: 150px;">
                                                            {% if is_image %}
                                                                <img src="{{img_url}}" alt="" style="max-height: 140px;">
                                                            {% endif %}
                                                            </div>
                                                            <div>
                                                                <span class="btn default btn-file">
                                                                    <input type="hidden" id="image_flag" value="nochange">
                                                                    <input type="file" id="edit_HallImage" name="edit_HallImage" onchange="myFunction(this)" value="1">
                                                                    <span class="{% if is_image %}fileinput-new{% else %}fileinput-exists{% endif %}"> Select image </span>
                                                                    <span class="{% if is_image %}fileinput-exists{% else %}fileinput-new{% endif %}"> Change </span>
                                                                     </span>
                                                                <a href="javascript:;" class="btn red {% if is_image %}fileinput-exists{% else %}fileinput-new{% endif %}" data-dismiss="fileinput"> Remove </a>
                                                            </div>
                                                        </div>

                                                    </div>
                                     </div>

                                        <div class="row">
                                         <div class="col-md-2">
                                             <div class="form-group form-md-line-input has-success">
                                             <label>Hall Position<span class="required">*</span>&nbsp&nbsp:</label>
                                                 <label id="halllposition_error"
                                                style="color:red; display:none;"></label>
                                          </div>
                                             </div>
                                            <div class="col-md-4">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                <div class="form-group form-md-line-input has-success"
                                                                     id="lattitude">
                                                                    <label>Lattitude:</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-9">
                                                                <div class=" form-group form-md-line-input has-success">
                                                                    <input type="text" class="form-control"
                                                                           id="lattitude_value"
                                                                           name="lattitude_value"
                                                                           value="{{hallDetails.latitude}}"
                                                                           minlength="1" maxlength="10"
                                                                           onkeypress="return validateFloatKeyPresss(this, event,'lattitude')">
                                                                    <label id="lattitude_error"
                                                                           style="margin-top:54px;color:red; display:none;"></label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                <div class="form-group form-md-line-input has-success"
                                                                     id="longitude">
                                                                    <label>Logitude:</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-9">
                                                                <div class=" form-group form-md-line-input has-success">
                                                                    <input type="text" class="form-control"
                                                                           id="longitude_value" name="longitude_value"
                                                                           value="{{hallDetails.longitude}}"
                                                                           minlength="1" maxlength="10"
                                                                           onkeypress="return validateFloatKeyPresss(this, event,'longitude')">
                                                                    <label id="longitude_error"
                                                                           style="margin-top:54px;color:red; display:none;"></label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group form-md-line-input has-success">
                                                    <label>Booking Timing<span
                                                            class="required">*</span>&nbsp&nbsp:</label>
                                                    <label id="halllposition_error"
                                                           style="color:red; display:none;"></label>
                                                </div>
                                            </div>
                                         <div class="col-md-4">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <div class="form-group form-md-line-input has-success"
                                                                     id="lattitude">
                                                                    <label>Start Time:</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-8">
                                                                <div class="form-group">
                                                                    <div class="input-group" style="padding-top: 11px;">
                                                                        <input type="text"
                                                                               class="form-control timepicker timepicker-no-seconds"
                                                                               id="booking_start_time" value="{{hallDetails.booking_start_time}}">
                                                                        <span class="input-group-btn">
				                                                            <button class="btn default" type="button">
				                                                                <i class="fa fa-clock-o"></i>
				                                                            </button>
				                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <div class="form-group form-md-line-input has-success"
                                                                     id="longitude">
                                                                    <label>End Time:</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-8">
                                                                <div class="form-group">
                                                                    <div class="input-group" style="padding-top: 11px;">
                                                                        <input type="text"
                                                                               class="form-control timepicker timepicker-no-seconds"
                                                                               id="booking_end_time" value="{{hallDetails.booking_end_time}}">
                                                                        <span class="input-group-btn">
				                                                            <button class="btn default" type="button">
				                                                                <i class="fa fa-clock-o"></i>
				                                                            </button>
				                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                     </div>

                                        <div class="row">
                                            <div class="col-md-3 form-group form-md-line-input has-success">
                                                 <label>Address
                                                     <span style="color:blue;">(Max 250 char)</span>
                                                     <span class="required">*</span>
                                                 </label>
                                            </div>
                                            <div class="col-md-4 form-group form-md-line-input has-success">

                                                    <textarea class="form-control validateRequired" rows="2" id="address" name="address" maxlength="250" onkeypress="return isKeypress(event, this)">{{hallDetails.address}}</textarea>
                                            </div>

                                        </div>

                                        <div class="row">
                                       <div class="col-md-12">
                                          <div class="form-group form-md-line-input has-success">
                                             <label class="control-label"> Corresponding Halls: </label>
                                              <div class="col-md-12" style="padding-top:5px;">
                                                 <div class="row">
                                                     <div class="col-md-12">
                                                   <div id="related_hall">
                                                       {% for hall in hall_list %}
                                                                    <div class="col-xs-4">
                                                                        <div class="md-checkbox">
                                                                            <input type="checkbox" name="select_hall_id" value="{{ hall.id }}"
                                                                                   id="checkbox1_{{ hall.id }}"
                                                                                   class="md-check">
                                                                            <label for="checkbox1_{{ hall.id }}">
                                                                                <span></span>
                                                                                <span class="check"></span>
                                                                                <span class="box"></span> {{ hall.hall_name }} </label>
                                                                        </div>
                                                                    </div>
                                                                {% endfor %}
                                                   </div>
                                                </div>
                                                 </div>
                                              </div>

                                          </div>
                                       </div>
                                    </div>



                                        <!--<div class="row">-->
                                            <!--<div class="col-md-3">-->
                                                <!--<div class="form-group form-md-line-input has-success"-->
                                                     <!--id="select_priorityDiv">-->
                                                    <!--<label class="control-label">Hall Image<span-->
                                                            <!--class="required">*</span></label>-->
                                                    <!--<input type="file" id="edit_HallImage"-->
                                                            <!--name="edit_HallImage">-->
                                                    <!--<label id="edithallImage_error"-->
                                                           <!--style="color:red; display:none;"></label>-->
                                                <!--</div>-->
                                            <!--</div>-->

                                            <!--<div class="col-md-3">-->
                                                <!--<div class="form-group form-md-line-input has-success"-->
                                                     <!--id="error_open_for_online">-->
                                                    <!--<label class="control-label"> Open for Online booking <span-->
                                                            <!--class="required">*</span></label>-->
                                                    <!--<input type="checkbox" id="edit_OpenForOnline"-->
                                                           <!--name="edit_OpenForOnline" value="{{hallDetails.is_open_for_online}}"  {% if hallDetails.is_open_for_online == True %} Checked{% endif %}-->
                                                           <!--class="form-control"/>-->
                                                    <!--<label id="editopenForOnline_error"-->
                                                           <!--style="color:red; display:none;"></label>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->


                                        <div class="row" style="  margin-top: 30px;">
                                            <div class="col-xs-12 text-right">
                                                <button type="button" class="btn btn-outline grey_color "
                                                        onclick="location.href = '/backofficeapp/manage-halls/'">
                                                    Cancel
                                                </button>
                                                <button type="button" id="edit-continue"
                                                        class="btn btn-outline done_btn">Submit
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade draggable-modal" id="success_modal" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog" style="width:35%;">
        <div class="modal-content">

            <div class="modal-body">
                <form action="index.html" class="form-horizontal form-row-seperated">
                    <div class="form-body">
                        <h4 class="text-center">Hall Updated Successfully</h4>
                    </div>
                    <div style="text-align:center !important;" class="modal-footer">
                        <a type="button" href="/backofficeapp/manage-halls/" class="btn green">OK</a>

                    </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>

<div style="overflow-y:hidden;" id="error-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">

                <img style="width: 100px; height: 29px; margin-top: -11px; margin-left: 236px;"
                     src="/static/assets/layouts/layout2/img/City_Hoopla_Logo.png" alt="logo" class="logo-default">

            </div>
            <div class="modal-body">
                <div class="form-body">
                    <h4 id="error_msg" class="text-center"></h4>
                </div>
                <div style="text-align:center !important;" class="modal-footer">
                    <input data-dismiss="modal" type="submit" value="OK"
                           class="btn btn-primary" id="btn-loading-demo">
                </div>
            </div>
        </div>

    </div>
</div>

<!-- BEGIN FOOTER -->
<div class="page-footer">
    <div class="page-footer-inner"> 2018 © Bynry Technologies

    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>
<!-- END FOOTER -->


<!-- BEGIN CORE PLUGINS -->
{% include 'backoffice/base_js.html' %}
<script src="{% static 'custom-js/backofficeapp/manage_halls/edit_hall_detail.js' %}" type="text/javascript"></script>
</body>
</html>


