<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>MCCIA</title>
</head>
<body>

{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<!-- internal banner section starts here -->
<section class="InternalBannerSection" style="background-image: url({% static 'assets/images/internal-banner.jpg' %});">
    <div class="InternalInnerArea">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <h2>Chairman Committees</h2>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <ol class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li><a href="#">MCCIA Leadership</a></li>
                        <li class="active"><a href="#">Chairman Committees</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="internalSection">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
            <h3>Comming Soon</h3>
            </div>
        </div>
    </div>
</section>
<!-- internal banner section Ends here -->
<section class="internalSection" style="display: none;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">

                <div class="leftPannel">
                    <div class="members">

                    </div>
                    <div class="members">
                        <ul>
                            <li>
                                <div class="membersTop">
                                    <div class="designation">
                                        Agriculture Committee
                                    </div>
                                </div>
                                <ol>
                                    <li class="grey">
                                        <ul>
                                            <li><span class="name">Mr. Ranjeet Deshmukh
                                        </span>
                                                <br>
                                                Sangamner Taluka Shetkari Dudh Utpadak &amp; Prakriya Sangh Ltd
                                            </li>

                                        </ul>
                                    </li>
                                </ol>
                            </li>
                            <li>
                                <div class="membersTop">
                                    <div class="designation">
                                        Ahmednagar Committee
                                    </div>
                                </div>
                                <ol>
                                    <li class="grey">
                                        <ul>
                                            <li><span class="name">Mr. A. P. Pargaonkar<br>
                                          </span>Jt. General Manager<br>
                                                Larsen &amp; Toubro
                                            </li>

                                        </ul>
                                    </li>
                                </ol>
                            </li>
                            <li>
                                <div class="membersTop">
                                    <div class="designation">
                                        Civil Aviation Committee
                                    </div>
                                </div>
                                <ol>
                                    <li class="grey">
                                        <ul>

                                            <li><span class="name">  Air Marshal (Retd) B N Gokhale<br>
                                        </span>
                                            </li>
                                        </ul>
                                    </li>
                                </ol>
                            </li>


                            <li>
                                <div class="membersTop">
                                    <div class="designation">
                                        Corporate Legislation Committee
                                    </div>
                                </div>
                                <ol>
                                    <li class="grey">
                                        <ul>
                                            <li><span class="name">Mr.Suhas Tuljapukar<br>
                                           Director</span><br>
                                                Legasis Services Pvt.Ltd.
                                                <!--<li>
                                                    <div class="membersTop">
                                                        <div class="designation">
                                                            HR</div>
                                                    </div>
                                                    <ol>
                                                        <li class="grey">
                                                            <ul>
                                                                <li><span class="name">Mr. Shriram Joshi<br />
                                                                    Assistant Director </span><br />
                                                                    <span class="contact">Contact Number:</span> 25709132-->
                                                <!--
                                                <div class="readmore">
                                                    <a href="#" title="PROFILE" class="thickbox">
                                                        Read Profile</a></div>-->
                                            </li>
                                            <!--
                                            <li class="two"><span class="name">Ms. Veda Kulkarni<br />
                                              Deputy Director</span><br />
                                                <span class="contact">Contact Number: </span>25709146
                                                <div class="readmore">
                                                    <a href="VedaK.html?height=365&width=525" title="PROFILE" class="thickbox">
                                                        Read Profile</a></div>
                                            </li> -->
                                        </ul>
                                    </li>
                                </ol>
                            </li>
                        </ul>
                    </div>
                    <div class="members">
                        <ul>
                            <li>
                                <div class="membersTop">
                                    <div class="designation">
                                        Defence Committee.
                                    </div>
                                </div>
                                <ol>
                                    <li class="grey">
                                        <ul>
                                            <li><span class="name">Mr. Brijesh Kalra </span><br>
                                                Head - Production Centre
                                                <br>
                                                Larsen &amp; Toubro Ltd.
                                            </li>

                                        </ul>
                                    </li>
                                </ol>
                            </li>
                            <li>
                                <div class="membersTop">
                                    <div class="designation">
                                        Electronics Committee
                                    </div>
                                </div>
                                <ol>
                                    <li class="grey">
                                        <ul>
                                            <li><span class="name">Mr. Narayan Bedarkar</span><br>Managing Director<br>
                                                SBEM Pvt. Ltd.<br>

                                            </li>


                                        </ul>
                                    </li>
                                </ol>
                            </li>
                            <li>
                                <div class="membersTop">
                                    <div class="designation">
                                        Energy Committee
                                    </div>
                                </div>
                                <ol>
                                    <li class="grey">
                                        <ul>
                                            <li><span class="name">Mr. Amulya Charan<br></span>
                                                Advisor Energy, Infrastructure &amp; Finance<br>

                                            </li>
                                        </ul>
                                    </li>
                                </ol>
                            </li>
                            <li>
                                <div class="membersTop">
                                    <div class="designation">
                                        Food Processing Committee
                                    </div>
                                </div>
                                <ol>
                                    <li class="grey">
                                        <ul>
                                            <li><span class="name">Mr. Anand Chordia</span><br>
                                                Director<br>

                                                Pravin Masalewale<br>


                                            </li>
                                            <!--<li class="two"><span class="name">Ms. Sharmila Ranade<br />
                                              Deputy Director</span><br />
                                                <span class="contact">Contact Number:</span>25709133
                                                <div class="readmore">
                                                   <a href="sharmila.html?height=365&width=525" title="PROFILE" class="thickbox">
                                                        Read Profile</a></div>
                                            </li>-->
                                        </ul>
                                    </li>
                                </ol>
                            </li>
                        </ul>
                    </div>
                    <div class="members">
                        <ul>
                            <li>
                                <div class="membersTop">
                                    <div class="designation">
                                        Foreign Trade Committee
                                    </div>
                                </div>
                                <ol>
                                    <li class="grey">
                                        <ul>
                                            <li><span class="name">Mr. P. C. Nambiar  <br>
                                          </span>Director<br>Group EXIM, Serum Inst. Of India Ltd <br>

                                            </li>

                                        </ul>
                                    </li>
                                </ol>
                            </li>
                            <li>
                                <div class="membersTop">
                                    <div class="designation">
                                        GST Committee
                                    </div>
                                </div>
                                <ol>
                                    <li class="grey">
                                        <ul>
                                            <li><span class="name">Dr. Waman Parkhi  </span><br>
                                                Partner<br>KPMG<br>

                                            </li>

                                        </ul>
                                    </li>
                                </ol>
                            </li>
                            <li>
                                <div class="membersTop">
                                    <div class="designation">
                                        IT &amp; ITES Committee
                                    </div>
                                </div>
                                <ol>
                                    <li class="grey">
                                        <ul>
                                            <li><span class="name">Mr. Shridhar Shukla </span><br>
                                                Managing Director <br>

                                                G S Lab<br>


                                            </li>
                                        </ul>
                                    </li>
                                </ol>
                            </li>

                            <li>
                                <div class="membersTop">
                                    <div class="designation">
                                        Manufacturing Committee
                                    </div>
                                </div>
                                <ol>
                                    <li class="grey">
                                        <ul>
                                            <li><span class="name"> Mr. Mangesh A.Kale<br>
                                          </span>

                                                Precision Automation &amp; Robotics India Pvt. Ltd<br>


                                            </li>
                                        </ul>
                                    </li>
                                </ol>
                            </li>


                            <!--<li>
                                <div class="membersTop">
                                    <div class="designation">
                                       LIBRARY</div>
                                </div>
                                <ol>
                                    <li class="grey">
                                        <ul>
                                           <li><span class="name">Ms. Anuja Deshpande<br />
                                               Assistant Director</span><br />
                                                <span class="contact">Contact Number:</span>25709231
                                                <div class="readmore">
                                                   <a href="anuja.html?height=365&width=525" title="PROFILE" class="thickbox">
                                                        Read Profile</a></div>
                                          </li>-->
                        </ul>


                    </div>

                    <div class="members">
                        <ul>
                            <li>
                                <div class="membersTop">
                                    <div class="designation">
                                        Transport Committee
                                    </div>
                                </div>
                                <ol>
                                    <li class="grey">
                                        <ul>
                                            <li><span class="name">Mr. Prasanna Patwardhan </span> <br>
                                                CMD<br>Prasanna Purple Mobility Solutions Pvt. Ltd.<br>
                                            </li>
                                        </ul>
                                    </li>
                                </ol>
                            </li>

                            <li>
                                <div class="membersTop">
                                    <div class="designation">
                                        Innovation Committee
                                    </div>
                                </div>
                                <ol>
                                    <li class="grey">
                                        <ul>
                                            <li><span class="name">Dr. Abhay  Jere<br></span>
                                                Persistent Systems Limited<br>

                                            </li>
                                        </ul>
                                    </li>
                                </ol>
                            </li>


                            <li>
                                <div class="membersTop">
                                    <div class="designation">
                                        Women Entrepreneurs<br> Committee
                                    </div>
                                </div>
                                <ol>
                                    <li class="grey">
                                        <ul>
                                            <li><span class="name">Ms. Manasi Bidkar </span> <br>
                                                CMD<br>MELUX CONTROL GEARS Pvt. Ltd.<br>
                                            </li>
                                        </ul>
                                    </li>
                                </ol>
                            </li>


                            <li>
                                <div class="membersTop">
                                    <div class="designation">
                                        Infrastructure Committee
                                    </div>
                                </div>
                                <ol>
                                    <li class="grey">
                                        <ul>
                                            <li><span class="name">Mr. Suhas Mantri<br></span>
                                                Advisory Chairman<br>
                                                Mantri Constructions Pvt. Ltd.
                                                <br>

                                            </li>
                                        </ul>
                                    </li>
                                </ol>
                            </li>
                        </ul>
                    </div>

                    <div class="members">
                        <ul>
                            <li>
                                <div class="membersTop">
                                    <div class="designation">
                                        SME Committee
                                    </div>
                                </div>
                                <ol>
                                    <li class="grey">
                                        <ul>
                                            <li><span class="name">Mr.Shrikant S.Badve<br></span>
                                                Managing Director <br>
                                                Badve Engineering Ltd.
                                                <br>

                                            </li>
                                        </ul>
                                    </li>
                                </ol>
                            </li>


                            <li>
                                <div class="membersTop">
                                    <div class="designation">
                                        HR Committee
                                    </div>
                                </div>
                                <ol>
                                    <li class="grey">
                                        <ul>
                                            <li><span class="name">Shri.Sunil Kode<br></span>
                                                V.P.-HR<br>
                                                Wilo Mather and Platt Pumps Ltd. <br>

                                            </li>
                                        </ul>
                                    </li>
                                </ol>
                            </li>


                        </ul>
                    </div>


                    <!--  <div class="members">
                          <ul>
                              <li>
                                  <div class="membersTop">
                                      <div class="designation">
                                           LIBRARY</div>
                                  </div>
                                  <ol>
                                      <li class="grey">
                                          <ul>
                                              <li><span class="name">Ms. Anuja Deshpande<br />
                                                 Assistant Director</span><br />
                                                  <span class="contact">Contact Number:</span>25709231
                                                  <div class="readmore">
                                                     <a href="anuja.html?height=365&width=525" title="PROFILE" class="thickbox">
                                                          Read Profile</a></div>
                                              </li>
                                          </ul>
                                      </li>
                                  </ol>
                              </li>

                          </ul>
                    </div>-->
                    <!-- Members End -->
                    <!-- Other Members -->

                    <!--
                    <div class="otherMembers"><b>Name of the Committee and Officer Incharge</b>
                        <table width="685">
                            <tr class="title">
                                <td width="197" align="left" valign="top">
                                    NAME OF COMMITTEE</td>
                                <td width="303" align="left" valign="top">
                                    OFFICE IN-CHARGE</td>

                            </tr>
                            <tr>
                                <td align="left" valign="top">
                                    Agriculture & Agri Business</td>
                                <td align="left" valign="top">
                                   Mr. D. V. Shukla</td>

                            </tr>
                            <tr>
                                <td align="left" valign="top">
                                    Ahmednagar
                                </td>
                                <td align="left" valign="top">-</td>

                            </tr>
                            <tr>
                                <td align="left" valign="top">
                                    Animation & Gaming</td>
                                <td align="left" valign="top">
                                    Ms. Medha Kulkarni</td>

                            </tr>
                            <tr>
                                <td align="left" valign="top">
                                   Auto Component
                                </td>
                                <td align="left" valign="top">
                                    Mr. Satish Joshi</td>

                            </tr>
                             <tr>
                                <td align="left" valign="top">
                                    Civil Aviation	</td>
                                <td align="left" valign="top">
                                    Mr. S. H. Kopardekar</td>

                            </tr>
                            <tr>
                                <td align="left" valign="top">
                                    Corporate Legislation
                                </td>
                                <td align="left" valign="top">
                                    -</td>

                            </tr>
                           <tr>
                                <td align="left" valign="top">
                                    Corporate Social Responsibility
                                </td>
                                <td align="left" valign="top">
                                    Mr. Shriniwas Rairikar</td>

                          </tr>

                            <tr>
                                <td align="left" valign="top">
                                    Defence
                                </td>
                                <td align="left" valign="top">
                                    Mr. Prashant Joglekar</td>

                            </tr>
                             <tr>
                                <td align="left" valign="top">
                                    Direct Taxation
                                </td>
                                <td align="left" valign="top">
                                    -</td>

                            </tr>
                            <tr>
                                <td align="left" valign="top">
                                    Economic Environment
                                </td>
                                <td align="left" valign="top">
                                    Ms. Manjari Desai </td>

                            </tr>
                             <tr>
                                <td align="left" valign="top">
                                    Education
                                </td>
                                <td align="left" valign="top">
                                    Mr. S. H. Rairikar</td>

                            </tr>


                               <tr>
                                <td align="left" valign="top">
                                    Electronics
                                </td>
                                <td align="left" valign="top">
                                    Mr. Prashant Joglekar</td>

                            </tr>
                               <tr>
                                <td align="left" valign="top">
                                    Energy
                                </td>
                                <td align="left" valign="top">
                                    Mr. S. M. Gadgil</td>

                            </tr>

                               <tr>
                                <td align="left" valign="top">
                                    Excise
                                </td>
                                <td align="left" valign="top">
                                    -</td>

                            </tr>

                             <tr>
                                <td align="left" valign="top">
                                    Exhibitions
                                </td>
                                <td align="left" valign="top">
                                    -</td>

                            </tr>
                               <tr>
                                <td align="left" valign="top">
                                    Finance & Insurance
                                </td>
                                <td align="left" valign="top">
                                    -</td>

                            </tr>
                               <tr>
                                <td align="left" valign="top">
                                    Foreign Trade Regulations
                                </td>
                                <td align="left" valign="top">
                                    Mr. S. H. Kopardekar</td>

                            </tr>

                            <tr>
                                <td align="left" valign="top">
                                    Government Relations
                                </td>
                                <td align="left" valign="top">
                                   -</td>

                            </tr>
                               <tr>
                                <td align="left" valign="top">
                                    Health Care
                                </td>
                                <td align="left" valign="top">
                                    Ms. Geeta Hosmane</td>

                            </tr>
                               <tr>
                                <td align="left" valign="top">
                                    HRD
                                </td>
                                <td align="left" valign="top">
                                    Mr. S. H. Rairikar  </td>

                            </tr>

                             <tr>
                                <td align="left" valign="top">
                                    Hospitality
                                </td>
                                <td align="left" valign="top">
                                   Ms. Manjari Desai </td>

                            </tr>
                               <tr>
                                <td align="left" valign="top">
                                    Industrial Relations
                                </td>
                                <td align="left" valign="top">
                                    Mr. S. H. Rairikar</td>

                            </tr>
                               <tr>
                                <td align="left" valign="top">
                                    Information Technology
                                </td>
                                <td align="left" valign="top">
                                    Mr. S. H. Kopardekar</td>

                            </tr>
                            <tr>
                                <td align="left" valign="top">
                                    Infrastructure Facility & Real Estate
                                </td>
                                <td align="left" valign="top">-</td>

                            </tr>
                            <tr>
                                <td align="left" valign="top">
                                    Innovation and R & D
                                </td>
                                <td align="left" valign="top">
                                    Ms. Geeta Hosmane  </td>

                            </tr>
                            <tr>
                                <td align="left" valign="top">
                                    Intl. Business & Relations
                                </td>
                                <td align="left" valign="top">
                                    Mr. S. H. Kopardekar </td>

                            </tr>
                            <tr>
                                <td align="left" valign="top">
                                    Pimpri Chinchwad Bhosari
                                </td>
                                <td align="left" valign="top">Mr. Lalit Waikole</td>

                            </tr>
                              <tr>
                                <td align="left" valign="top">
                                     Polymer / Rubber
                                </td>
                                <td align="left" valign="top">
                                    Mr. Prashant Joglekar  </td>

                            </tr>
                            <tr>
                                <td align="left" valign="top">
                                    Railway
                                </td>
                                <td align="left" valign="top">-</td>

                            </tr>
                             <tr>
                                <td align="left" valign="top">
                                    Road & Traffic Management
                                </td>
                                <td align="left" valign="top">- </td>

                            </tr>


                            <tr>
                                <td align="left" valign="top">
                                  Retailing Business
                                </td>
                                <td align="left" valign="top">
                                   Mr. D. V. Shukla </td>

                            </tr>


                            <tr>
                                <td align="left" valign="top">
                                    S M E
                                </td>
                                <td align="left" valign="top">
                                    Mr. Parag Kulkarni </td>

                            </tr><tr>
                                <td align="left" valign="top">
                                    Senior Executives Forum
                                </td>
                                <td align="left" valign="top">Mr. Satish Joshi</td>

                            </tr><tr>
                                <td align="left" valign="top">
                                     State Level Taxation
                                </td>
                                <td align="left" valign="top">
                                        -</td>

                            </tr>

                             <tr>
                                <td align="left" valign="top">
                                     Tourism
                                </td>
                                <td align="left" valign="top">Ms. Manjari Desai </td>

                            </tr><tr>
                                <td align="left" valign="top">
                                      Women Entrepreneurs
                                </td>
                                <td align="left" valign="top">
                                     Ms. Medha Kulkarni </td>

                            </tr>
                        </table>
                  </div>
                    <!-- Other Members End-->
                </div>

            </div>
        </div>
    </div>
</section>

{% endblock %}
</body>
</html>