<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>MCCIA</title>
</head>
<body>

{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<!-- internal banner section starts here -->
<section class="InternalBannerSection" style="background-image: url({% static 'assets/images/internal-banner.jpg' %});">
    <div class="InternalInnerArea">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <h2>Co-Opted Members</h2>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <ol class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li><a href="#">MCCIA Leadership</a></li>
                        <li class="active"><a href="#">Nominated Members</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- internal banner section Ends here -->
<section class="internalSection">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">

                <div class="leftPannel">

                    <div class="members">
                        <div class="membersTop">
                        </div>
                        <ul>
                            <li class="grey"><span class="name">Mr. Bharat Agarwal</span><br>
                                Executive Director<br>
                                Vishwakarma Institutes<br>
                            </li>
                            <li class="grey"><span class="name">Mr. Ranjitsinh Deshmukh</span><br>
                                Chairman<br>
                                Sangamner Taluka Shetkari Dudh Utpadak & Prakriya Sangh Ltd.<br>
                            </li>
                            <li class="grey"><span class="name">Mrs. Uma Ganesh </span><br>
                               <br>
                            </li>
                            <li class="grey"><span class="name">Mr. Arvind Goel</span><br>
                                MD & CEO (Designate)<br>
                                Tata AutoComp Systems Ltd.<br>
                            </li>
                            
                        </ul>
                    </div>


                    <div class="members">
                        <div class="membersTop">
                        </div>
                        <ul>
                            <li class="grey"><span class="name">Mr.Satish Gokhale </span><br>Director - Industrial Design
                                <br>Design Directions Pvt. Ltd.<br>
                            </li>
                            <li class="grey"><span class="name">Mr. Nihal Kulkarni</span>
                            <br>Managing Director<br>Kirloskar Oil Engines LTd.
                                <br>
                            </li>

                            <li class="grey"><span class="name">Ms. Shubhalakshmi Panse</span><br>
                                Director<br>
                                Sudarshan Chemical Industries Ltd.
                                <br>
                            </li>


                            <li class="last"><span class="name">Mr. Rakesh Sharma </span><br>
                                President-International<br>Bajaj Auto Ltd.
                                <br>
                            </li>

                        </ul>
                    </div>


                    <div class="members">
                        <div class="membersTop">
                        </div>
                        <ul>

                            <li class="grey"><span class="name">Mr. Suhas Tuljapurkar</span><br>Director<br>
                                Legasis Services Pvt. Ltd.<br>
                                <br>
                            </li>

                            <li class="grey"><span class="name">Ms. Rashmi Urdhwareshe</span><br>Director<br>
                                The Automotive Research Association of India<br>
                                <br>
                            </li>


                           


                        </ul>
                    </div>


                    <!-- <div class="members">
                        <div class="membersTop">
                        </div>
                        <ul>

                            <li class="grey"><span class="name">Mr. P. C. Nambiar   </span><br>Director
                                <br>Group EXIM
                                <br>
                            </li>


                            <li class="grey"><span class="name">Mr. Prasanna Patwardhan</span><br>CMD<br>
                                Prasanna Purple Mobility Solutions Pvt. Ltd.<br>
                                <br>
                            </li>


                            <li class="grey"><span class="name">Mr.Bharat Phatak</span>
                                <br> Director<br>Wealth Managers (India) Pvt.Ltd.<br>
                            </li>

                            <li class="last"><span class="name">Mr. J.K.Saraf</span>
                                <br> Kanhaiya Shopee<br>

                            </li>

                        </ul>
                    </div> -->


                    <!-- <div class="members">
                        <div class="membersTop">
                        </div>
                        <ul>

                            <li class="grey"><span class="name">Dr. Deepak Shikarpur</span><br>
                                <br>

                            </li>

                            <li class="grey"><span class="name">Mr. Jugraj K. Sanghvi</span><br>
                                Proprietor
                                <br>Om Exports
                                <br>
                            </li>

                        </ul>
                    </div> -->
                    <!-- <li class="last"><span class="name">Mr. Yashwant Khaire</span><br />
                      Ajay Syscon Pvt Ltd<br />
                        <br /></li>
                    </ul>
                    </div>

                       <div class="members">
                <div class="membersTop">
                </div>
                <ul>

                    <li class="grey"><span class="name">Mr. Nihal Kulkarni</span><br />
                      Managing Director<br />
                      Kirloskar Oil Engines Ltd.<br />
                    </li>
                      <li class="grey"><span class="name">Mr. Ashutosh Parasnis</span><br />
                        Managing  Director<br />
                       Qlogic (India) Pvt Ltd<br />
                    </li>
                     <li class="grey"><span class="name">Mr. Vishwas Mahajan</span><br />
                    <br />
                      <br />
                    </li>
                    <li class="last"><span class="name">Mr. Prasanna Patwardhan</span><br />
                      Prasanna Purpul Mobility Solutions Pvt Ltd<br />
                      <br />
                    </li>
                </ul>
            </div>
             <div class="members">
                <div class="membersTop">
                </div>
                <ul>

                    <li class="grey"><span class="name">Mr. Abhijit Pawar</span><br />
                        Managing Director<br />
                       Sakal Media Group<br />
                    </li>
                    <li class="grey"><span class="name">Mr. J.K.Saraf</span><br />
                     <br />
                     <br />
                    </li>
                    <li class="grey"><span class="name">Mr. J P Shroff</span><br />
                        Shroff Group <br />
                       <br />
                    </li>
                      <li class="last"><span class="name">Mr.Ajay Tandon</span><br />
                        Managing Director<br />
                       Tata AutoComp Systems Ltd <br />
                    </li>-->


                </div>

            </div>
        </div>
    </div>
</section>

{% endblock %}
</body>
</html>