<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>MCCIA</title>
</head>
<body>

{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<!-- internal banner section starts here -->
<section class="InternalBannerSection" style="background-image: url({% static 'assets/images/internal-banner.jpg' %});">
    <div class="InternalInnerArea">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <h2>Elected Members</h2>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <ol class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li><a href="#">MCCIA Leadership</a></li>
                        <li class="active"><a href="#">Elected Members</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- internal banner section Ends here -->

<section class="internalSection">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">

                <div class="">
                    <div class="members">
                        <div class="membersTop">
                        </div>
                        <ul>
                            <li class="grey"><span class="name">Mr. Premchand Bafana</span><br>
                                M/s. Premchand Ratanchand
                            </li>
                            <li class="grey"><span class="name">Dr. Dilip N. Borawake</span>
                            </li>
                            <li class="grey"><span class="name">Mr. Prakash P Chhabria</span><br>
                                Executive Chairman<br>
                                Finolex Industries Ltd.<br>
                            </li>
                            <li class="last"><span class="name">Mr. Chandrashekhar V Chitale</span><br>
                                C. V. Chitale & Co
                                <br> <br>
                            </li>
                        </ul>
                    </div>
                    <div class="members">
                        <div class="membersTop">
                        </div>
                        <ul>

                            <li class="grey"><span class="name">Mr. Pravin Dhole</span><br>
                                
                                Technofour<br>
                            </li>
                            <li class="grey"><span class="name">Mr. Anil Ganu</span>
                                <br>
                            </li>
                            <li class="grey"><span class="name">Mr. Y. H. Gharpure</span><br>
                                Gharpure Associates
                                <br>
                            </li>
                            <li class="last"><span class="name">Mr. Anand Jadhav</span>
                            <br>Director<br>
                            J Square Exim Pvt Ltd.<br>
                            </li>
                        </ul>
                    </div>
                    <div class="members">
                        <div class="membersTop">
                        </div>
                        <ul>

                            <li class="grey"><span class="name">Mr. Ashok Kumar Jain</span>
                            <br>First Policy Insurance Brokers PLtd<br>
                            </li>

                            <li class="grey"><span class="name">Mr. Ram B. Jogdand </span>
                            <br>CMD<br> Ramelex Pvt Ltd.<br>
                            </li>
                            <li class="grey"><span class="name">Mr. Amit Kalyani </span>
                            <br>Executive Director <br>
                                Bharat Forge Ltd.<br>
                            </li>
                            <li class="last"><span class="name">Mr. Sureshkumar Lakhotia</span><br>
                                SRC Chemicals P Ltd.<br>
                            </li>
                        </ul>
                    </div>
                    <div class="members">
                        <div class="membersTop">
                        </div>
                        <ul>

                            <li class="grey"><span class="name">Mr. Suhas Mantri</span><br>
                                Advisory Chairman<br>
                                Mantri Constructions Pvt Ltd.<br>
                            </li>
                            <li class="grey"><span class="name">Mr. Ajay Mehta</span>
                            <br>MD<br>Deepak Nitrite Ltd.<br>
                            </li>
                            <li class="grey"><span class="name">Mr. Rohit R More</span><br>
                                Director<br>
                                Poona Bottling Co. ltd.<br>
                            </li>
                            <li class="last"><span class="name">Mr. Bharat Phatak     
</span><br>Director <br> Wealth Managers (I) Pvt. Ltd.<br>
                            </li>

                        </ul>
                    </div>
                    <div class="members">
                        <div class="membersTop">
                        </div>
                        <ul>
                            <li class="grey"><span class="name">Mr. Vilas S. Potdar</span> <br>
                                V. S. Potdar & Co. CA<br>
                            </li>
                            <li class="grey"><span class="name">Mr. Vikram S. Puri</span><br>
                                Natasha Consultants Pvt Ltd.<br>

                            </li>

                            <li class="grey"><span class="name">Mr. Rajiv Sabade</span><br>
                                The Cosmos Coop Bank Ltd.

                            </li>
                            <li class="last"><span class="name">Mr. Vikram Salunkhe</span><br>
                                MD<br>Accurate Sales & Services Pvt Ltd.<br>

                            </li>
                        </ul>
                    </div>
                    <div class="members">
                        <div class="membersTop">
                        </div>
                        <ul>


                            <li class="grey"><span class="name">Mr. J. K. Saraf</span>
                                
                                <br>

                            </li>
                            <li class="grey"><span class="name">Mr. Ajit V Sathe</span>
                            <br>GM<br> Deccan Mechanical &amp; Chemical Inds Ltd<br>


                            </li>
                            <li class="grey"><span class="name">Dr. Deepak Shikarpur</span>
                                <br>
                                Seed Infotech Ltd.
                                <br>

                            </li>
                            <li class="grey"><span class="name">Mr. Alok Kumar Singh</span>
                                <br>Plant Head CVBU<br>Tata Motors Ltd.<br>

                            </li>
                            
                        </ul>
                    </div>


                    <div class="members">
                        <div class="membersTop">
                        </div>
                        <ul>
                        <li class="last"><span class="name">Mr. M. A. Tejani </span><br>
                                Managing Director<br>
                                Gits Food Products Pvt. Ltd.<br>

                            </li>
                        </ul>
                    </div>


                </div>

            </div>
        </div>
    </div>
</section>

{% endblock %}
</body>
</html>