<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>MCCIA</title>
</head>
<body>

{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<!-- internal banner section starts here -->
<section class="InternalBannerSection" style="background-image: url({% static 'assets/images/internal-banner.jpg' %});">
    <div class="InternalInnerArea">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <h2>Chairman Committees</h2>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <ol class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li><a href="#">MCCIA Leadership</a></li>
                        <li class="active"><a href="#">Chairman Committees</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- internal banner section Ends here -->


<section class="internalSection">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
            <h3>Comming Soon</h3>
            </div>
        </div>
    </div>
</section>

<section class="internalSection" style="display: none;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">

                <div class="">
                    <div class="members">
                        <div class="membersTop">
                        </div>
                        <ul>
                            <li class="grey"><span class="name">Mr. Mahesh Kodumudi

</span><br>
                                President &amp; Managing Director
                                <br>
                                Volkswagen India Pvt Ltd <br>
                                Chakan Dist.,Pune 410 501
                            </li>
                            <li class="grey"><span class="name">Mr. Satish Nadiger

</span>
                                <br>
                                Managing Director &amp; CEO<br>John Deere India P Ltd.
                                <br>
                                Hadapsar, Pune 411 013
                            </li>
                            <li class="grey"><span class="name"> Dr. Ganesh Natarajan</span><br>
                                Vice Chairman &amp; CEO
                                <br>Zensar Technologies Ltd
                                <br>
                                Nagar Road, Pune 411 014

                            </li>
                            <li class="last"><span class="name">Mr. Srikant Srinivasan</span><br>
                                Director – Manufacturing<br>G E India Industrial Pvt. Ltd.<br>
                                Tal. Khed, Pune 410501 <br>

                            </li>
                        </ul>
                    </div>
                    <div class="members">
                        <div class="membersTop">
                        </div>
                        <ul>
                            <li class="grey"><span class="name">Mr. M. S. Unnikrishnan</span>
                                <br>
                                Managing Director &amp; CEO
                                <br>
                                Thermax Ltd.
                                <br>Wakdewadi,Pune 411 003<br>


                            </li>
                            <li class="grey"><span class="name">Mr. Eberhard H. Kern</span>
                                <br>
                                Managing Director &amp; CEO<br>
                                Mercedes-Benz India Private Limited <br>Chakan, Pune - 410 501<br>

                            </li>
                            <li class="grey"><span class="name">Mr.Jugraj K. Sanghvi</span><br>
                                Proprietor<br>
                                Kondhwa BK, Pune 411 048<br> <br>

                            </li>
                            <li class="last"><span class="name">Mr.S.V.Narsimha Rao</span><br>
                                Burckhardt Compression (I) P. Ltd.<br>
                                Shirur,Pune 412209 <br> <br>
                            </li>
                        </ul>
                    </div>
                    <div class="members">
                        <div class="membersTop">
                        </div>
                        <ul>
                            <li class="grey"><span class="name">Mr. Ashish S Kulkarni</span><br>
                                Koregaon Park,Pune 411001<br>
                                <br><br>
                            </li>
                            <li class="grey"><span class="name">Mr. S. Chockalingam, IAS</span><br>
                                Divisional Commissioner<br>Pune 411 001.
                                <br> <br>

                            </li>
                            <li class="grey"><span class="name">Mr. Saurabh Rao ,IAS</span><br>
                                Collector – Pune District<br>
                                Pune 411 001<br><br>

                            </li>
                            <li class="last"><span class="name">Mr.  Kunal Kumar, IAS  </span>
                                <br>
                                Municipal Commissioner<br>
                                Shivajinagar, Pune 411 005<br><br>

                            </li>
                        </ul>
                    </div>
                    <div class="members">
                        <div class="membersTop">
                        </div>
                        <ul>
                            <li class="grey"><span class="name">Mr. Rajiv Jadhav, IAS</span><br>
                                Municipal Commissioner<br>
                                Pimpri, Pune 411 018 <br><br>
                            </li>
                            <li class="grey"><span class="name">Mr. Satish Mathur</span><br>
                                Police Commissioner – Pune<br>
                                Pune 411 001 <br><br>

                            </li>
                            <li class="grey"><span class="name">Mr. R. C. Karla, ITS</span><br>
                                Joint Director General of Foreign Trade<br>
                                Pune 411 037

                            </li>
                            <li class="last"><span class="name">Mr.  Manoj K. Gangal</span><br>
                                Director – Pune Airport<br>
                                Pune Airport, Pune 411 032.<br><br>

                            </li>
                        </ul>
                    </div>
                    <div class="members">
                        <div class="membersTop">
                        </div>
                        <ul>
                            <li class="grey"><span class="name">Dr. Sourav Pal</span><br>
                                Director, CSIR<br>
                                National Chemical Laboratory<br>Pashan, Pune 411 008

                            </li>
                            <li class="grey"><span class="name">Dr. W. N. Gade</span><br>
                                Vice Chancellor<br>
                                University of Pune<br>Ganeshkhind, Pune 411 007<br>

                            </li>
                            <li class="grey"><span class="name">Mrs. Lila Poonawalla </span>
                                <br> Chairperson <br>Lila Poonawalla Foundation <br>Pune
                                <br>


                            </li>
                            <li class="last"><span class="name">Mr. Prafull Gade</span><br>
                                CEO <br>
                                Digi Captions India <br>Kharadi, Pune 411014<br>

                            </li>
                        </ul>
                    </div>
                    <div class="members">
                        <div class="membersTop">
                        </div>
                        <ul>
                            <li class="grey"><span class="name">Mr. Adar Poonawalla</span><br>
                                Executive Director<br>Serum Institute of India Ltd<br>
                                212/2, Hadapsar, Pune 411028<br>

                            </li>
                            <li class="grey"><span class="name">Mr. Amit Kalyani</span><br>
                                Director <br> Bharat Forge Ltd.<br>Mundhwa, Pune 411 036<br>

                            </li>
                            <li class="grey"><span class="name">Mr Sushil  Muhnot</span><br>
                                Chairman and Managing Director,<br>
                                Bank of Maharashtra <br>Shivajinagar, Pune 411 005<br>

                            </li>
                            <li class="last"><span class="name">Mr. Vijay Kumar Khubchandani</span><br>
                                Registrar of Companies<br>
                                Deccan Gymkhana, Pune 411 004
                            </li>
                        </ul>
                    </div>
                    <div class="members">
                        <div class="membersTop">
                        </div>
                        <ul>

                            <li class="grey"><span class="name">Mr. Sanjeev Behari</span><br>
                                Chief Commissioner,<br> Central Excise &amp; Customs<br>Pune 411 001<br>

                            </li>
                            <li class="grey"><span class="name">Mr. P. C. Srivastava</span>
                                <br>Chief Commissioner of Income Tax (CCA)
                                <br>Pune 411 001

                            </li>
                            <li class="grey"><span class="name">Mr. Gajanan Nabar</span><br>
                                Praj Industries Limited<br>
                                Hinjewadi, Pune-411057<br><br>

                            </li>
                            <li class="last"><span class="name">Mr. Kishor Patil</span><br>
                                CEO and MD <br>
                                KPIT Technologies Ltd <br>
                                Pune 411057

                            </li>
                        </ul>
                    </div>


                    <div class="members">
                        <div class="membersTop">
                        </div>
                        <ul>

                            <li class="grey"><span class="name">Mr Prakash.k.Dhoka</span><br>
                                Chairman<br> Deccan Chamber of commerce industries and Agriculture<br> PUNE 411014<br>

                            </li>
                            <li class="grey"><span class="name">Mrs. Rashmi Urdhwareshe</span>
                                <br>Director
                                <br>The Automotive Research Association of India
                                <br>Kothrud, Pune 411 038<br>

                            </li>
                            <li class="grey"><span class="name">Mr. Motilal D Sankla</span><br>
                                President<br>
                                Chakan Industries Association<br>Chakan, Pune 410501<br>

                            </li>
                            <li class="last"><span class="name">Ms. Pratima Kirloskar</span><br>
                                President –Innovation Society <br>
                                Kirloskar Brothers Ltd. <br>Baner, Pune 411 045<br>

                            </li>
                        </ul>
                    </div>


                    <div class="members">
                        <div class="membersTop">
                        </div>
                        <ul>

                            <li class="grey"><span class="name">Mr. Rajeshkumar Patil</span><br>
                                Chairman<br> Pune Branch of WIRC <br> Bibvewadi, Pune 411 037<br>

                            </li>
                            <li class="grey"><span class="name">Mr. Sudhir Darode</span>
                                <br>President
                                <br>Marathi Bandhkam Vyavasaik Association
                                <br>Pune 411016<br>

                            </li>
                            <li class="grey"><span class="name">Shri Walchand Sancheti</span><br>
                                President<br>
                                The Poona Merchants Chamber<br>Gultekdi, Pune 411 037<br>

                            </li>
                            <li class="last"><span class="name">Maj Gen Neeraj Bali, SM,GOC</span><br>
                                Sub Area Commander, Southern Command<br>
                                Pune 411001

                            </li>
                        </ul>
                    </div>


                    <div class="members">
                        <div class="membersTop">
                        </div>
                        <ul>

                            <li class="grey"><span class="name">Mr. Kantilal Umap</span><br>
                                Chief Executive Officer<br>Zilla Parishad<br> Pune 411001<br>

                            </li>
                            <li class="grey"><span class="name"> Mr. Abhishek Mani Tripathi</span>
                                <br>CEO
                                <br>Dehu Road Cantonment Board
                                <br>Pune 412201<br>

                            </li>
                            <li class="last"><span class="name">Mr. Prakash Telang</span><br>
                                <br>
                                <br><br>

                            </li>
                        </ul>
                    </div>


                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}
</body>
</html>