<!DOCTYPE html>

<!--<html lang="en">-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <style type="text/css">
        @page {
            size: letter portrait;
            margin: 1.2cm;
            border: 0pt solid white;
            @frame header_frame {           /* Static Frame */
                 -pdf-frame-content: header_content;
                left: 30pt; width: 550pt; top: 20pt; height: 50pt;
                border: 0pt solid white;
            }
            @frame footer_frame {           /* Another static Frame */
                 -pdf-frame-content: footer_content;
                left: 30pt; width: 550pt; top: 750pt; height: 20pt;
                border: 0pt solid white;
            }
        }

        .boxed-all {
            border: 1px solid black;
        }

        .boxed-top {
            border-top: 1px solid black;
        }

        .boxed-bottom {
            border-bottom: 1px solid black;
        }

        .boxed-left {
            border-left: 1px solid black;
        }

        .boxed-right {
            border-right: 1px solid black;
        }

        .inside_box{
            padding:2px;
            padding-top:3px;
        }

        .bold_label{
            font-weight : 700;
            font-size: 15px;
        }

        .semi_bold_label{
            font-weight : 700;
            font-size: 14px;
        }

        label{
            font-size: 13px;
        }

        .text-center{
            text-align:center;
        }

        .text-right{
            text-align:right;
        }
        .tr_class{
            padding-top:3px;
            font-size: 12px;
            color: #000000;
            font-family: Arial, Helvetica, sans-serif;
            height: 20px;
            background-color: #ffffff
        }
        .span_class{
        font-size: 11pt; font-family: Calibri
        }
        .td_class{
        height: 29px; padding-left: 20px
        }

    </style>
</head>

<body>
    <div id="header_content" style="border-bottom:1px solid black; text-align:center; padding-bottom:5px;">
        <img src="/srv/wsgi/NEW_MCCIA_BACKOFFICE/MCCIA_BACKOFFICE/static/assets/MCCIA-logo.png" style="width: 130px" class="img-circle m-b" alt="logo">
        <label class="bold_label">Event Reciept</label>
    </div>
    <br>
    <table width="100%" cellpadding="0" cellspacing="0">

       <tbody>
       <tr id="pid">
           <td style="text-align: left"></td>
       </tr>
      <tr>
          <td>
              <table style="border-right: #DEE6EE 1px solid; border-top: #DEE6EE 1px solid; border-left: #DEE6EE 1px solid;border-bottom: #DEE6EE 1px solid" cellspacing="0" cellpadding="0" width="700" align="center">
                <tbody>
                    <tr>
                        <td valign="top"  style="height: 317px">
                            <table cellspacing="0" cellpadding="0" width="800" align="center" border="0" id="TABLE1" language="javascript" onclick="return TABLE1_onclick()">
                                <tbody>

                                <tr style="">
                                    <td colspan="4" valign="top">
                                    </td>
                                </tr>
                                <tr class="tr_class">
                                    <td style="height: 29px" valign="top" colspan="4">
                                        <p align="center"  style="text-align: center">
                                            <b>
                                                <span class="span_class" >Mahratta Chamber of Commerce
                                                    Industries and Agriculture</span>
                                            </b>
                                        </p>
                                        <p align="center"  style="text-align: center">
                                            <span class="span_class">505/506, A/B Wing, SB Rd., 5<sup>th</sup>
                                                Floor, MCCIA Trade Tower, International Convention Centre, Pune 16.</span></p>
                                    </td>
                                </tr>
                                <tr class="tr_class">
                                    <td colspan="4" style="height: 29px" valign="top">
                                    </td>
                                </tr>
                                <tr class="tr_class">
                                    <td colspan="4" style="height: 29px" valign="top">
                                        <p align="center"  style="text-align: center">
                                            <b>
                                                <span style="font-size: 11pt">
                                                    <span style="font-family: Calibri">ACKNOWLEDGEMENT</span>
                                                </span>
                                            </b>
                                        </p>
                                    </td>
                                </tr>
                                <tr class="tr_class">
                                    <td colspan="2" class="td_class" valign="top">
                                        <span style="font-size: 11pt; line-height: 115%; font-family: Calibri; mso-fareast-font-family: 'Times New Roman';
                                            mso-bidi-font-family: 'Times New Roman'; mso-ansi-language: EN-US; mso-fareast-language: EN-US;
                                            mso-bidi-language: AR-SA"><strong>Reg.No.:</strong> &nbsp; EBK028496</span></td>

                                    <td colspan="2" style="height: 29px; " valign="top">
                                        <strong>
                                            <span style="font-size: 11pt; font-family: Calibri">Reg. Date:&nbsp;</span>
                                        </strong>
                                        <span style="font-size: 11pt; font-family: Calibri">
                                            Jun 30, 2018</span>
                                    </td>
                                </tr>

                                <tr class="tr_class">
                                     <td colspan="1" class="td_class" valign="top">
                                        <p  style="margin: 0in 0in 0pt; line-height: normal">
                                            <b><span style="font-size: 11pt;font-family: Calibri">
                                                Received from</span>:</span></b></p>
                                    </td>

                                    <td colspan="3" class="td_class" valign="top">
                                        <span style="font-size: 11pt; line-height: 115%; font-family: Calibri; mso-fareast-font-family: 'Times New Roman';
                                            mso-bidi-font-family: 'Times New Roman'; mso-ansi-language: EN-US; mso-fareast-language: EN-US;
                                            mso-bidi-language: AR-SA">MCCIA</span>
                                    </td>
                                </tr>

                                <tr class="tr_class">
                                     <td colspan="1" class="td_class" valign="top">
                                        <p  style="margin: 0in 0in 0pt; line-height: normal">
                                            <b><span style="font-size: 11pt;font-family: Calibri">
                                                Amount</span>:</span></b></p>
                                    </td>

                                    <td colspan="3" class="td_class" valign="top">
                                        <span style="font-size: 11pt; line-height: 115%; font-family: Calibri; mso-fareast-font-family: 'Times New Roman';
                                            mso-bidi-font-family: 'Times New Roman'; mso-ansi-language: EN-US; mso-fareast-language: EN-US;
                                            mso-bidi-language: AR-SA">Rs. 2800.00</span>
                                    </td>
                                </tr>
                                <tr class="tr_class">
                                     <td colspan="1" class="td_class" valign="top">
                                        <p  style="margin: 0in 0in 0pt; line-height: normal">
                                            <b><span style="font-size: 11pt;font-family: Calibri">
                                                (In Words)</span>:</b></p>
                                    </td>

                                    <td colspan="3" class="td_class" valign="top">
                                        <span style="font-size: 11pt; line-height: 115%; font-family: Calibri; mso-fareast-font-family: 'Times New Roman';
                                            mso-bidi-font-family: 'Times New Roman'; mso-ansi-language: EN-US; mso-fareast-language: EN-US;
                                            mso-bidi-language: AR-SA">Rs. TWO THOUSAND EIGHT HUNDRED  ONLY</span>
                                    </td>
                                </tr>

                                <tr class="tr_class">
                                     <td colspan="1" class="td_class" valign="top">
                                        <p  style="margin: 0in 0in 0pt; line-height: normal">
                                            <b><span style="font-size: 11pt;font-family: Calibri">
                                                Payment Details </span>:</b></p>
                                    </td>

                                    <td colspan="3" class="td_class" valign="top">
                                        <span style="font-size: 11pt; line-height: 115%; font-family: Calibri; mso-fareast-font-family: 'Times New Roman';
                                            mso-bidi-font-family: 'Times New Roman'; mso-ansi-language: EN-US; mso-fareast-language: EN-US;
                                            mso-bidi-language: AR-SA">Offline</span>
                                    </td>
                                </tr>

                                <tr class="tr_class">
                                    <td colspan="4" class="td_class" valign="top">
                                        <span style="font-size: 11pt; line-height: 115%; font-family: Calibri; mso-fareast-font-family: 'Times New Roman';
                                            mso-bidi-font-family: 'Times New Roman'; mso-ansi-language: EN-US; mso-fareast-language: EN-US;
                                            mso-bidi-language: AR-SA"><strong>Purpose :</strong><span style="mso-spacerun: yes">&nbsp; </span>
                                                Participation fees for Five S &amp; Kaizen – The ‘Mantras’ for Workplace Improvement <span style="font-size: 11pt; line-height: 115%; font-family: Calibri;
                                                    mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman';
                                                    mso-ansi-language: EN-US; mso-fareast-language: EN-US; mso-bidi-language: AR-SA">
                                                    dated 04/08/2018.</span></span></td>
                                </tr>
                                <tr class="tr_class">
                                    <td colspan="4" style="height: 20px; padding-left: 50px" valign="top">
                                    </td>
                                </tr>
                                <tr class="tr_class">
                                    <td colspan="4" align="center" class="td_class" valign="top">
                                        <span style="font-size: 11pt; line-height: 115%; font-family: Calibri; mso-fareast-font-family: 'Times New Roman';
                                            mso-bidi-font-family: 'Times New Roman'; mso-ansi-language: EN-US; mso-fareast-language: EN-US;
                                            mso-bidi-language: AR-SA"><strong>(This is a computer generated acknowledgement and
                                                therefore needs no signature)</strong></span>
                                    </td>
                                </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
</td></tr>
</tbody></table>
    <br><br><br>
    <div id="footer_content" style="text-align: right; border-top:1px solid black; padding-top: 5px; margin-top: 5px">
        {#    page <pdf:pagenumber> of <pdf:pagecount>#}
        page <pdf:pagenumber>
        </pdf:pagenumber>
    </div>
    <br>

    <!--<label class="semi_bold_label">Note: </label><label>This is a system generated reciept .</label>-->
</body>

</html>
