<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>MCCIA</title>

</head>
<body>
{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<section class="InternalBannerSection" style="background-image: url({% static 'assets/images/internal-banner.jpg' %});">
    <div class="InternalInnerArea">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <h2>Contact Us</h2>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <ol class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li class="active"><a href="#">Contact Us</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="internalSection">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">

                <h2>Head Office</h2>

                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="headOfficeAddress">
                            <p>505, A-Wing,MCCIA Trade Tower,ICC Complex,403, Senapati Bapat Road,Pune-411 016
                                INDIA.</p>

                            <p><strong><i class="fa fa-phone" aria-hidden="true"></i><!-- Tel :--></strong> +91 020 2570
                                9000</p>

                            <p><strong><i class="fa fa-fax" aria-hidden="true"></i><!-- Fax :--></strong> +91 020 2570
                                9021</p>

                            <p><strong><i class="fa fa-envelope-o" aria-hidden="true"></i><!-- Email :--></strong> <a
                                    href="mailto:info@mcciapune.com">info@mcciapune.com</a></p>

                            <p><strong><i class="fa fa-globe" aria-hidden="true"></i><!-- web :--></strong> <a
                                    href="http://www.mcciapune.com/">www.mcciapune.com</a></p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d30262.7887350392!2d73.829856!3d18.535743!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd8f30539fc95f1b4!2sMCCIA+Trade+Tower!5e0!3m2!1sen!2sus!4v1527766873233"
                                    width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>

                <br/>
                <br/>

                <h2>Branch Offices</h2>

                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="branchOfficeAddress">
                            <h4>Bhosari</h4>

                            <p><i class="fa fa-map-marker" aria-hidden="true"></i> J-462, MIDC,TELCO Road,Ganesh
                                Nagar,Bhosari,</p>

                            <p>Pune - 411026</p>

                            <p>Maharashtra, INDIA.</p>

                            <p>
                                <strong><i class="fa fa-phone" aria-hidden="true"></i><!-- Tel :--></strong> +91
                                020 27130700/ 800 </p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="branchOfficeAddress">
                            <h4>Tilak Road</h4>

                            <p><i class="fa fa-map-marker" aria-hidden="true"></i> 1014, Shukrawar Peth,Tilak Road,</p>

                            <p>
                                Pune - 411002</p>

                            <p>
                                Maharashtra, INDIA.</p>

                            <p>
                                <strong><i class="fa fa-phone" aria-hidden="true"></i><!-- Tel :--></strong> +91 020
                                24440371 / 24440472 </p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="branchOfficeAddress">
                            <h4>Hadapsar</h4>

                            <p><i class="fa fa-map-marker" aria-hidden="true"></i> Plot No. 7, A/3, Hadapsar Industrial
                                Estate</p>

                            <p>
                                Pune - 411013</p>

                            <p>
                                Maharashtra, INDIA.</p>

                            <p>
                                <strong><i class="fa fa-phone" aria-hidden="true"></i><!-- Tel :--></strong> +91 020
                                26877010 / 26877011</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="branchOfficeAddress">
                            <h4>Ahmednagar</h4>

                            <p><i class="fa fa-map-marker" aria-hidden="true"></i> MCCIA Building, Plot No.P 86
                                MIDC,</p>

                            <p>
                                Ahmednagar- 414111</p>

                            <p>
                                Maharashtra, INDIA.</p>

                            <p>
                                <strong><i class="fa fa-phone" aria-hidden="true"></i><!-- Tel :--></strong> +91
                                0241 2777837</p>
                        </div>
                    </div>

                </div>

            </div>

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default headingActive">
                        <div class="panel-heading" role="tab" id="heading8">
                            <h5 class="panel-title"><a class="collapsed" data-toggle="collapse"
                                                       data-parent="#accordion2" href="#collapse1" aria-expanded="false"
                                                       aria-controls="collapseThree">
                                <div class="headingText"><span class="fa fa-minus"></span>Hall Booking</div>
                            </a></h5>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse in" role="tabpanel"
                             aria-labelledby="heading8">
                            <div class="panel-body" style="padding-right: 20px;">

                                <div class="row">

                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="branchOfficeAddress">
                                            <h4>Senapati Bapat Road</h4>

                                            <p><i class="fa fa-user" aria-hidden="true"></i> Mr. Mahesh Kabadi</p>

                                            <p>
                                                <i class="fa fa-envelope-o" aria-hidden="true"></i><!-- <strong>Email</strong>:-->
                                                <a href="mailto:maheshk@mcciapune.com">maheshk@mcciapune.com</a></p>
                                        </div>
                                    </div>

                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="branchOfficeAddress">
                                            <h4>Bhosari</h4>

                                            <p><i class="fa fa-user" aria-hidden="true"></i> Mr. Lalit Waykole </p>

                                            <p>
                                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                                <!--<strong>Email:</strong>--> <a href="mailto:lalitw@mcciapune.com">lalitw@mcciapune.com</a>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="branchOfficeAddress">
                                            <h4>Tilak Road</h4>
                                            <h4>
                                                <p><i class="fa fa-user" aria-hidden="true"></i> Mr. Yashodhan Jatar
                                                </p>

                                                <p>
                                                    <i class="fa fa-envelope-o" aria-hidden="true"></i><!-- <strong>Email:</strong>-->
                                                    <a href="mailto:yashodhanj@mcciapune.com">yashodhanj@mcciapune.com</a>
                                                </p>
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="branchOfficeAddress">
                                            <h4>Hadapsar</h4>
                                            <h4>
                                                <p><i class="fa fa-user" aria-hidden="true"></i> Mr. Mandar Marathe </p>

                                                <p>
                                                    <i class="fa fa-envelope-o" aria-hidden="true"></i><!-- <strong>Email:</strong>-->
                                                    <a href="mailto:mandarm@mcciapune.com">mandarm@mcciapune.com</a></p>
                                            </h4>
                                        </div>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading8">
                            <h5 class="panel-title"><a class="collapsed" data-toggle="collapse"
                                                       data-parent="#accordion2" href="#collapse2" aria-expanded="false"
                                                       aria-controls="collapseThree">
                                <div class="headingText"><span class="fa fa-plus"></span>Visa Recommendation</div>
                            </a></h5>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8">
                            <div class="panel-body" style="padding-right: 20px;">

                                <div class="row">

                                    <div class="col-md-3 col-sm-6 col-xs-12">

                                        <div class="branchOfficeAddress" style="margin-bottom: 15px;min-height: 0;">
                                            <h4>Senapati Bapat Road</h4>

                                            <p><i class="fa fa-user" aria-hidden="true"></i> Ms. Sonal Phadnis / Ms.
                                                Snigdha Goliwadekar</p>

                                            <p>
                                                <b><i class="fa fa-phone" aria-hidden="true"></i><!-- <strong>Phone:</strong>-->
                                                </b> 91-20-25709213 /91-20-25709271</p>

                                            <p>
                                                <b><i class="fa fa-envelope-o" aria-hidden="true"></i><!-- <strong>Email:</strong>-->
                                                </b> <a href="mailto:sonalp@mcciapune.com">sonalp@mcciapune.com </a>
                                                / <a href="mailto:snigdhag@mccipaune.com">snigdhag@mccipaune.com</a></p>
                                        </div>

                                    </div>

                                    <div class="col-md-3 col-sm-6 col-xs-12">

                                        <div class="branchOfficeAddress" style="margin-bottom: 15px;min-height: 0;">
                                            <h4>Bhosari</h4>

                                            <!-- <p><i class="fa fa-user" aria-hidden="true"></i> Mr. P V Sasidharan/ Mr.
                                                Lalit Waykole</p> -->
                                            <p><i class="fa fa-user" aria-hidden="true"></i> Mr. P V Sasidharan</p>

                                            <!-- <p>
                                                <b><i class="fa fa-phone" aria-hidden="true"></i> <strong>Phone:</strong>
                                                </b> 91-20-27130700 / 91-20-27130800</p> -->
                                            <p>
                                                <b><i class="fa fa-phone" aria-hidden="true"></i><!-- <strong>Phone:</strong>-->
                                                </b> 91-20-27130700</p>

                                            <p>
                                                <b><i class="fa fa-envelope-o" aria-hidden="true"></i>
                                                    <!--<strong>Email:</strong>--></b> <a
                                                    href="mailto:sasidharan@mcciapune.com">sasidharan@mcciapune.com</a>
                                                <!-- / <a href="mailto:lalitw@mcciapune.com">lalitw@mcciapune.com</a> --></p>

                                        </div>

                                    </div>

                                    <div class="col-md-3 col-sm-6 col-xs-12">

                                        <div class="branchOfficeAddress" style="margin-bottom: 15px;min-height: 0;">
                                            <h4>Tilak Road</h4>

                                            <p><i class="fa fa-user" aria-hidden="true"></i> Mr. Yashodhan Jatar
                                                <!--/ Ms. Gauri Kale--></p>

                                            <p>
                                                <b><i class="fa fa-phone" aria-hidden="true"></i>
                                                    <!--<strong>Phone:</strong>--></b> 91-20-24440371/ 24440472</p>

                                            <p>
                                                <b><i class="fa fa-envelope-o" aria-hidden="true"></i>
                                                    <!--<strong>Email:</strong>--></b> <a
                                                    href="mailto:yashodhanj@mcciapune.com">yashodhanj@mcciapune.com</a>
                                                / <a href="mailto:gauri@mcciapune.com">gauri@mcciapune.com</a></p>

                                        </div>

                                    </div>


                                    <div class="col-md-3 col-sm-6 col-xs-12">

                                        <div class="branchOfficeAddress" style="margin-bottom: 15px;min-height: 0;">
                                            <h4>Hadapsar</h4>

                                            <p><i class="fa fa-user" aria-hidden="true"></i> Ms. Roshni Meisnam</p>

                                            <p>
                                                <b><i class="fa fa-phone" aria-hidden="true"></i>
                                                    <!--<strong>Phone:</strong>--></b> 91-20-26877010</p>

                                            <p>
                                                <b><i class="fa fa-envelope-o" aria-hidden="true"></i>
                                                    <!--<strong>Email:</strong>--></b> <a
                                                    href="mailto:roshnim@mcciapune.com">roshnim@mcciapune.com</a></p>
                                        </div>


                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading8">
                            <h5 class="panel-title"><a class="collapsed" data-toggle="collapse"
                                                       data-parent="#accordion2" href="#collapse3" aria-expanded="false"
                                                       aria-controls="collapseThree">
                                <div class="headingText"><span class="fa fa-plus"></span>Certificate of Origin</div>
                            </a></h5>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8">
                            <div class="panel-body" style="padding-right: 20px;">

                                <div class="row">

                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="branchOfficeAddress">
                                            <h4>Senapati Bapat Road</h4>

                                            <p><i class="fa fa-user" aria-hidden="true"></i> Mrs. Snigdha Goliwadekar
                                            </p>

                                            <p>
                                                <i class="fa fa-phone" aria-hidden="true"></i>
                                                <!--<strong>Phone:</strong>--> 020-25709271</p>

                                            <p>
                                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                                <!--<strong>Email:</strong>--> <a href="mailto:snigdhag@mcciapune.com">snigdhag@mcciapune.com</a>
                                            </p><br/>

                                            <p>

                                                <i class="fa fa-user" aria-hidden="true"></i> Ms. Sonal Phadnis :
                                                020-25709213</p>

                                            <p>
                                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                                <!--<strong>Email:</strong>--> <a href="mailto:sonalp@mcciapune.com">sonalp@mcciapune.com</a>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="branchOfficeAddress">
                                            <h4>Bhosari </h4>

                                            <p><i class="fa fa-user" aria-hidden="true"></i> Mr. Sasidharan</p>

                                            <p>
                                                <i class="fa fa-phone" aria-hidden="true"></i>
                                                <!--<strong>Phone:</strong>--> 020-27130700</p>

                                            <p>
                                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                                <!--<strong>Email:</strong>--> <a
                                                    href="mailto:sasidharan@mcciapune.com">sasidharan@mcciapune.com</a>
                                            </p>
                                            </h4></div>
                                    </div>

                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="branchOfficeAddress">
                                            <h4>Tilak Road</h4>

                                            <p><i class="fa fa-user" aria-hidden="true"></i> Mr Yashodhan Jatar</p>

                                            <p>
                                                <i class="fa fa-phone" aria-hidden="true"></i>
                                                <!--<strong>Phone:</strong>--> 020-24440371</p>

                                            <p>
                                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                                <!--<strong>Email:</strong>--> <a
                                                    href="mailto:yashodhanj@mcciapune.com">yashodhanj@mcciapune.com</a>
                                            </p>
                                            <br/>

                                            <p>

                                                <i class="fa fa-user" aria-hidden="true"></i> Mr Shrikant Kawashte</p>

                                            <p>
                                                <i class="fa fa-phone" aria-hidden="true"></i>
                                                <!--<strong>Phone:</strong>--> 020-24440472</p>

                                            <p>
                                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                                <!--<strong>Email:</strong>--> <a href="mailto:shrikantk@mcciapune.com">shrikantk@mcciapune.com</a>
                                            </p>
                                            </h4></div>
                                    </div>

                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="branchOfficeAddress">
                                            <h4>Hadapsar </h4>

                                            <p><i class="fa fa-user" aria-hidden="true"></i> Mr. Mandar Marathe</p>

                                            <p>
                                                <i class="fa fa-phone" aria-hidden="true"></i>
                                                <!--<strong>Phone:</strong>--> 020-26877010</p>

                                            <p>
                                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                                <!--<strong>Email:</strong>--> <a href="mailto:mandarm@mcciapune.com">mandarm@mcciapune.com</a>
                                            </p>
                                            <br/>

                                            <p>
                                                <i class="fa fa-user" aria-hidden="true"></i> Mrs. Roshni Meisnam</p>

                                            <p>
                                                <i class="fa fa-phone" aria-hidden="true"></i>
                                                <!--<strong>Phone:</strong>--> 020-26877010</p>

                                            <p>
                                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                                <!--<strong>Email:</strong>--> <a href="mailto:roshnim@mcciapune.com">roshnim@mcciapune.com</a>
                                            </p>
                                        </div>
                                    </div>


                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="branchOfficeAddress">
                                            <h4>Ahmednagar </h4>

                                            <p><i class="fa fa-user" aria-hidden="true"></i> Mr. Vilas Kulkarni</p>

                                            <p>
                                                <i class="fa fa-phone" aria-hidden="true"></i>
                                                <!--<strong>Phone:</strong>--> 0241-2777837</p>

                                            <p>
                                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                                <!--<strong>Email:</strong>--> <a href="mailto:mccianagar@gmail.com">mccianagar@gmail.com</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading8">
                            <h5 class="panel-title"><a class="collapsed" data-toggle="collapse"
                                                       data-parent="#accordion2" href="#collapse4" aria-expanded="false"
                                                       aria-controls="collapseThree">
                                <div class="headingText"><span class="fa fa-plus"></span>Library</div>
                            </a></h5>
                        </div>
                        <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8">
                            <div class="panel-body" style="padding-right: 20px;">

                                <div class="row">
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="branchOfficeAddress">
                                            <h4>Senapati Bapat Road</h4>

                                            <p><i class="fa fa-user" aria-hidden="true"></i> Ms. Anuja Deshpande</p>

                                            <p>
                                                <i class="fa fa-map-marker" aria-hidden="true"></i> 505, A Wing, 5th
                                                Floor, MCCIA Trade Towers, Senapati Bapat Road, Pune 411 016.</p>

                                            <p>
                                                <i class="fa fa-fax" aria-hidden="true"></i>
                                                <!--<strong>FAX:</strong>--> 020-25709021</p>

                                            <p>
                                                <i class="fa fa-phone" aria-hidden="true"></i>
                                                <!--<strong>Phone:</strong>--> 020-25709231, 25709000</p>
                                        </div>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

{% endblock %}


</body>
</html>
  

