<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>MCCIA</title>

</head>
<body>
{% extends "base.html" %}
{% load staticfiles %}
{% block content %}


<section class="InternalBannerSection" style="background-image: url({% static 'assets/images/internal-banner.jpg' %});">
    <div class="InternalInnerArea">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <h2>Media</h2>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <ol class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li class="active"><a href="#">Media</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="internalSection">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">

                <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
                    
                    
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading8">
                            <h5 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapse1"
                                   aria-expanded="false" aria-controls="collapseOne">
                                    <div class="headingText"><span class="fa fa-plus"></span>Print Media</div>
                                </a>
                            </h5>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="photoGallery">
                                            <img src="{% static 'assets/media/printmedia/AajkaAnand26092018.jpg' %}" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="photoGallery">
                                            <img src="{% static 'assets/media/printmedia/IndianExpress26092018.jpg' %}" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="photoGallery">
                                            <img src="{% static 'assets/media/printmedia/Lokmat23092018.jpg' %}" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="photoGallery">
                                            <img src="{% static 'assets/media/printmedia/Loksatta25092018.jpg' %}" />
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="photoGallery">
                                            <img src="{% static 'assets/media/printmedia/Prabhat23092018.jpg' %}" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="photoGallery">
                                            <img src="{% static 'assets/media/printmedia/Pudhari23092018.jpg' %}" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="photoGallery">
                                            <img src="{% static 'assets/media/printmedia/Sakal23092018.jpg' %}" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="photoGallery">
                                            <img src="{% static 'assets/media/printmedia/AajkaAnand2609201801.JPG' %}" />
                                        </div>
                                    </div>
                                    
                                </div>
                                
                                <div class="row">
                                    
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="photoGallery">
                                            <img src="{% static 'assets/media/printmedia/Agrowon26092018.jpg' %}" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="photoGallery">
                                            <img src="{% static 'assets/media/printmedia/Lokmat26092018.jpg' %}" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="photoGallery">
                                            <img src="{% static 'assets/media/printmedia/MaharashtaTimes27092018.jpg' %}" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="photoGallery">
                                            <img src="{% static 'assets/media/printmedia/Pudhari26092018.jpg' %}" />
                                        </div>
                                    </div>
                                    
                                </div>
                                
                                <div class="row">
                                    
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="photoGallery">
                                            <img src="{% static 'assets/media/printmedia/Sakal26092018.jpg' %}" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="photoGallery">
                                            <img src="{% static 'assets/media/printmedia/SakalTimes27092018.jpg' %}" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="photoGallery">
                                            <img src="{% static 'assets/media/printmedia/TOI_12_3_19.jpg' %}" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="photoGallery">
                                            <img src="{% static 'assets/media/printmedia/Aaj_ka_Anand__08.12.2018.jpg' %}" />
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                     <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="photoGallery">
                                            <img src="{% static 'assets/media/printmedia/Hindustan Times, 17.01.2019-1024x1024.JPG' %}" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="photoGallery">
                                            <img src="{% static 'assets/media/printmedia/Hindustan_Times_12.01.2019.jpg' %}" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="photoGallery">
                                            <img src="{% static 'assets/media/printmedia/Lokmat_26.03.2019.jpg' %}" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="photoGallery">
                                            <img src="{% static 'assets/media/printmedia/Lokmat_-_12.3.2019.jpg' %}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="photoGallery">
                                            <img src="{% static 'assets/media/printmedia/loksatta_21.12.2018.jpg' %}" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="photoGallery">
                                            <img src="{% static 'assets/media/printmedia/Maharashta_Times_09.12.2018.jpg' %}" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="photoGallery">
                                            <img src="{% static 'assets/media/printmedia/Maharashta_Times__04.11.2018.jpg' %}" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="photoGallery">
                                            <img src="{% static 'assets/media/printmedia/Maharashta_Times__27.09.2018.jpg' %}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="photoGallery">
                                            <img src="{% static 'assets/media/printmedia/Pune_Mirror_-_12.2.2019.jpg' %}" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="photoGallery">
                                            <img src="{% static 'assets/media/printmedia/Sakal_11.12.2018.jpg' %}" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="photoGallery">
                                            <img src="{% static 'assets/media/printmedia/Sakal_12_3_19.jpg' %}" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="photoGallery">
                                            <img src="{% static 'assets/media/printmedia/Sakal__02.10.2018.jpg' %}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="photoGallery">
                                            <img src="{% static 'assets/media/printmedia/Sakal__02.10.2018_001.jpg' %}" />
                                        </div>
                                    </div>
                                     <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="photoGallery">
                                            <img src="{% static 'assets/media/printmedia/Sakal_Times_04.11.2018.jpg' %}" />
                                        </div>
                                    </div>
                                </div>

                                <!-- <div class="Formbuttons pull-right">
                                    <a class="btn btn-default subbtn" href="#">View All</a>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading8">
                            <h5 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapse2"
                                   aria-expanded="false" aria-controls="collapseThree">
                                <div class="headingText"><span class="fa fa-plus"></span>Video Gallery</div>
                            </a></h5>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8">
                            <div class="panel-body">
                                <!-- Deleted Youtube Links Start -->
                                <!-- <div class="row">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://www.youtube.com/embed/70ZCB3Rz6m0" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://www.youtube.com/embed/v9gg8tlFI_Y" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://www.youtube.com/embed/9HN1UM9fdmE" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://www.youtube.com/embed/vR30skbPodg" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://www.youtube.com/embed/UudQ2ykf0QE" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://www.youtube.com/embed/Wph7qNow3XM" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://www.youtube.com/embed/aHBAGOHPJOA" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>



                                <div class="row">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://www.youtube.com/embed/BSjglyGjIxM" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://www.youtube.com/embed/M-K06Mwm12U" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://www.youtube.com/embed/-dVNarhSAw4" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://youtube.com/embed/wyB5FZXi4yY" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://www.youtube.com/embed/NIm5S1TaD_8" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://www.youtube.com/embed/N79rRpSKtzE" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://www.youtube.com/embed/lM75mYpjjfQ" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://www.youtube.com/embed/5iJ1V2cF3l0" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://www.youtube.com/embed/XazoZ4xdgKE" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://www.youtube.com/embed/UxJthnU8nT4" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://www.youtube.com/embed/v__UyzWvitU" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://www.youtube.com/embed/RLEgt2MVDZs" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://www.youtube.com/embed/8xySrCAQDqk" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://www.youtube.com/embed/-sruwZrrNI8" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://youtube.com/embed/cu6fU5F1XzA" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://youtube.com/embed/9WxlTUn76Eg" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://youtube.com/embed/V70Ov4mISCc" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://youtube.com/embed/431AuxR0V88" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://youtube.com/embed/Ko41zomuOa0" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://youtube.com/embed/oKtSOzuiHcY" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://youtube.com/embed/YhJMcQGVtwY" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://youtube.com/embed/bYwGvE946VA" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://youtube.com/embed/DRMHcw87FQE" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://youtube.com/embed/PQFcK_zZUw0" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://www.youtube.com/embed/JHiyEVyWPyU" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>   
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://youtube.com/embed/JyZBrrOtlwk" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>                                    
                                </div> -->

                                <!-- Deleted Youtube Links End -->

                                <div class="row">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://youtube.com/embed/o8kMkCd7weE" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://youtube.com/embed/T_Jebplk6yo" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://youtube.com/embed/_fVwXNwsmoQ" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://youtube.com/embed/XKA_6M6kpsE" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://www.youtube.com/embed/ZoyHEHamnbo" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://www.youtube.com/embed/n5kadbtlw3g" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://youtube.com/embed/tnzrHQx5HKI" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://www.youtube.com/embed/Myq0edNIeOw" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://www.youtube.com/embed/T4SNumSAIn8" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://youtube.com/embed/E5Wg-sMEctA" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://www.youtube.com/embed/XOr9olHvvNE" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://www.youtube.com/embed/pmmVYTq1Roc" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://youtube.com/embed/IduxxTybRWo" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://www.youtube.com/embed/hn8D9-VfpWw" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://www.youtube.com/embed/jnkhU7JFsMg" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://youtube.com/embed/7exr2knQ2xk" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://www.youtube.com/embed/BXcmcI__sUE" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://www.youtube.com/embed/ZQPfe9IzlZM" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://youtube.com/embed/SBEmB_vAeZI" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://www.youtube.com/embed/8fgEQDS6jAU" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://www.youtube.com/embed/4ov50UUou1A" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://youtube.com/embed/7j5JJrlHdbA" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://www.youtube.com/embed/j_zxSyD7grE" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://www.youtube.com/embed/WPL3YfErmPg" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://youtube.com/embed/SCYnseoEYsE" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://www.youtube.com/embed/sX-eENa-3q8" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://www.youtube.com/embed/_VYJ6z7oWWM" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://youtube.com/embed/MT72f4YpNj8" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://www.youtube.com/embed/KUdRL8kDPew" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://www.youtube.com/embed/lMwZ_IVVf6E" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://youtube.com/embed/uIee-VArRzA" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://www.youtube.com/embed/LMUyIsVB7fI" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                    
                                </div>

                                <div class="Formbuttons pull-right">
                                    <a class="btn btn-default subbtn" href="https://www.youtube.com/user/punemccia" target="_blank">View All</a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading8">
                            <h5 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapse3"
                                   aria-expanded="false" aria-controls="collapseThree">
                                    <div class="headingText"><span class="fa fa-plus"></span>Electonic Media</div>
                                </a>
                            </h5>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://www.youtube.com/embed/fZ5LLYC7KQ4" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://www.youtube.com/embed/7F3RtVwq2Cs" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://www.youtube.com/embed/2IjdLflqRfY" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="videoGallery">
                                            <iframe width="560" height="315"
                                                    src="https://www.youtube.com/embed/P0ywjuWh5Ik" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                                <div class="Formbuttons pull-right">
                                    <a class="btn btn-default subbtn" href="https://www.youtube.com/user/punemccia" target="_blank">View All</a>
                                </div>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="AwardContactPanel">
                    <h4>Contact Person:</h4>

                    <p><i class="fa fa-user-o"></i> Ms. Manjari Desai</p>

                    <p><i class="fa fa-volume-control-phone"></i>Phone: +91 20-25709201
                    </p>                    
                    <p><i class="fa fa-mobile"></i>Mobile: +91 8308809417
                    </p>


                    <p><i class="fa fa-envelope-open"></i>Email:<a href="mailto:manjarid@mcciapune.com">manjarid@mcciapune.com</a>
                    </p>

                    <p></p>

                    <!--<div class="breakline"></div>-->
                    <!--<p><i class="fa fa-user-o"></i> Mr. Mandar Marathe</p>-->

                    <!--<p><i class="fa fa-volume-control-phone"></i>Phone:<a href="tel: 912024440472">91-20-26877010</a>-->
                    <!--</p>-->

                    <!--<p><i class="fa fa-envelope-open"></i>Email:<a href="mailto:mandarm@mcciapune.com">mandarm@mcciapune.com</a>-->
                    <!--</p>-->


                    <!--<div class="dropdown ViewOtherAwardsDropdown">-->
                        <!--<a class="dropdownBtn" id="dLabel" data-target="#" href="http://example.com"-->
                           <!--data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">-->
                            <!--View other awards-->
                            <!--<i class="fa fa-chevron-down" aria-hidden="true"></i>-->
                        <!--</a>-->

                        <!--<ul class="dropdown-menu" aria-labelledby="dLabel">-->
                            <!--<li><a style="font-size: 12px;" href="/awardsapp/awards-details">B. G. DESHMUKH IAS AWARD</a></li>-->
                            <!--<li><a style="font-size: 12px;" href="/awardsapp/awards-details1">BEST HUMAN RESPONSE AWARD</a></li>-->
                            <!--<li><a style="font-size: 12px;" href="/awardsapp/awards-details2">G. S. PARKHE AWARD</a></li>-->
                            <!--<li><a style="font-size: 12px;" href="/awardsapp/awards-details3">HARIMALINI JOSHI AWARD</a></li>-->
                            <!--<li><a style="font-size: 12px;" href="/awardsapp/awards-details4">LATE KIRAN NATU UDYOJAKTA PURASKAR</a></li>-->
                            <!--<li><a style="font-size: 12px;" href="/awardsapp/awards-details5">R J RATHI AWARD</a></li>-->
                            <!--<li><a style="font-size: 12px;" href="/awardsapp/awards-details6">RAMABAI JOSHI AWARD</a></li>-->

                        <!--</ul>-->
                    <!--</div>-->

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}


</body>
</html>
  

