<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>MCCIA</title>

</head>
<body>
{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
  <section class="InternalBannerSection" style="background-image: url({% static 'assets/images/internal-banner.jpg' %});">
  <div class="InternalInnerArea">
     <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <h2>Articles of Association</h2>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <ol class="breadcrumb">
                      <li><a href="/">Home</a></li>
                      <li><a href="#">Membership </a></li>
                      <li class="active"><a href="#">Articles of Association</a></li>
                    </ol>
                </div>
            </div>
        </div>
  </div>
  </section>

  <section class="internalSection">
        <div class="container">
            <div class="row">
               <div class="col-md-12 col-sm-12 col-xs-12">

                    <p>coming soon</p>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />

               </div>
            </div>
        </div>
  </section>



{% endblock %}


</body>
</html>


