<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>MCCIA</title>

</head>
<body>
{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
  <section class="InternalBannerSection" style="background-image: url({% static 'assets/images/internal-banner.jpg' %});">
  <div class="InternalInnerArea">
     <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <h2>Eligibility Criteria</h2>                    
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <ol class="breadcrumb">
                      <li><a href="/">Home</a></li>                      
                      <li class="active"><a href="#">Eligibility Criteria</a></li>
                    </ol>
                </div>
            </div>
        </div> 
  </div>        
  </section>
  
  <section class="internalSection">
        <div class="container">
            <div class="row">   
				  <div class="col-md-12 col-sm-12 col-xs-12">  					                	
					<h2>Eligibility Criteria </h2>
					<h4>There shall be five sub-classes of Ordinary Members according to the mode of subscription paid by them:</h4>
					<br />
					<ul>
					  <li>Patrons</li>
					  <li>Benefactors</li>
					  <li>Life members</li>
					  <li>General Ordinary Members</li>
					  <li>Nominal Members</li>
					  
					</ul>  			
					
					<br>
					<p>Any individual, firm, institution, association or a Company formed and registered under any of
					the Companies laws in force in India at the time of its registration and is interested directly or
					indirectly in trade, commerce, industry, agriculture or agricultural business shall be eligible to
					apply for admission as an Ordinary Member in any of the appropriate sub-class of Ordinary
					Membership. PROVIDED THAT such individual, firm, institution, association is either domiciled, in
					India or has a place of business in India. Any firm, institution, association or a Company shall
					exercise its voting rights through its duly authorised representative.</p>			
					
					<p>The application for membership shall be on a prescribed form signed by the candidate and shall
					be countersigned by two persons who shall be either individual members of the Chamber or
					authorised representatives of non-individual members as proposers, one of whom at least shall
					be member of the Executive Committee, and against each of whom there are no outstanding
					dues to the Chamber and whose names appear on the membership register of the Chamber. The
					application shall be accompanied by an amount equivalent to the entrance fee and the first
					annual subscription as may be applicable to the sub-class of membership that the candidate has
					applied for, from time to time. The application shall be made to the Membership Development
					Committee, a Committee of the Executive Committee of the Chamber.</p>		
												          
					<p>On such application being accepted by the Membership Development Committee, written notice
					thereof shall be given to the candidate and to his proposers and the amount paid by him at the
					time of application as aforesaid shall be appropriated towards the entrance fee and the first
					annual subscription, and the applicant shall become a Member of the Chamber in the sub-class
					for which he has applied and he shall be entitled to all the privileges of such membership and
					shall be liable to pay such annual subscription as may be in force from time to time.</p>			
					
					<p>The Membership Development Committee in its discretion may, reject any application for
					membership and in such cases it will not be bound to give any reasons for such rejection. On
					rejection, the Chamber shall refund to the rejected candidate the amount equivalent to the
					entrance fee and first annual subscription paid by him at the time of application.</p>
					
					<p>The Membership Development Committee may at its discretion admit the candidate as a
					Member or an Associate. The decision of the Membership Development Committee shall be
					final and binding.</p>	
					
					<p>The proceeds of Patron, Benefactor and Life memberships will be credited to a permanent fund
					which shall not be expended on revenue account but interest whereof if any, should be taken to
					the revenue account. In case of Patrons, Benefactors and Life members, payment of entrance
					fees is not necessary.</p>			
					
					<p>Annual Subscription must be paid within 30 days of the commencement of the financial year and
					further grace period of two months should be offered to the members to clear the outstanding
					subscription amounts.</p>   
					
					<p>Members who do not pay their subscription within 30 days of the commencement of the
					financial year, shall not be entitled to the privileges of the Membership at any General Meeting
					and if the Member fails to pay the outstanding subscription amount within the grace period of
					two months, it shall result in cessation of Membership. Once the membership is terminated then
					re-entry of the Member will be at the discretion of the Membership Development Committee.</p>
					
					<p>In case of default in the payment of any installments of subscription payable by a Patron,
					Benefactor or Life member as per above mentioned Rules of Payment the decision to admit or
					reject his membership in that class or any other class shall rest with the Membership
					Development Committee of the Chamber.</p>     
					
					<p>A Member or member of the Executive Committee, being a nominee of an entity shall
					automatically cease to be the Member or the member of the Executive Committee, on his
					cessation of relationship with the entity which has nominated him as Member or member of the
					Executive Committee.</p>   
							                    
				 </div> 
	     </div>
</div>  
</section>
  


{% endblock %}


</body>
</html>
  

