<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>MCCIA</title>
</head>
<body>

{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    
<section class="InternalBannerSection" style="background-image: url({% static 'assets/images/internal-banner.jpg' %});">
  <div class="InternalInnerArea">
     <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <h2>Eligibility Criteria</h2>                    
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <ol class="breadcrumb">
                      <li><a href="index.html">Home</a></li>
                      <li><a href="#">Membership </a></li>
                      <li class="active"><a href="#">Eligibility Criteria</a></li>
                    </ol>
                </div>
            </div>
        </div> 
  </div>        
  </section>
  
  <section class="internalSection">
        <div class="container">
            <div class="row">   
				  <div class="col-md-12 col-sm-12 col-xs-12">  
					                	
					<h2>NEW APPLICATIONS & RENEWALS</h2>
					<h4>Terms and Conditions, Refund Policy, Disclaimer</h4>
					<!--<p><strong>Updated on:</strong> 15 June 2017</p>-->
					<br />
					<h4>Who Can Apply?</h4>
					<p>Any individual, firm, institution, association or a Company formed and registered under any of the Companies laws in force in India at the time of its registration and is interested directly or indirectly in trade, commerce, industry, agriculture or agricultural business shall be eligible to apply, PROVIDED THAT such individual, firm, institution, association is either domiciled, in India or has a place of business in India. Any firm, institution, association or a Company shall exercise its voting rights through its duly authorised representative.</p>
					<br />
					<h4>Approval Process For New Applications</h4>
					
					<p>The Membership Development Committee may at its discretion admit the candidate as a Member or an Associate. The decision of the Membership Development Committee shall be final and binding. The Membership Development Committee in its discretion may, reject any application for membership or Associateship and in such cases it will not be bound to give any reasons for such rejection. On rejection, the Chamber shall refund to the rejected candidate the amount equivalent to the entrance fee and first annual subscription paid by him at the time of application.</p>
					<br />
					<h4>Refund</h4>
					
					<p>When an application is rejected by the Membership Development Committee, the amount equivalent to the first annual subscription fee and the entrance fee deposited will be refunded to the applicant within two months of the rejection of such application by the Membership Development Committee</p>
					<br />
					<h4>Renewal</h4>
					
					<p>Annual Subscription must be paid within 30 days of the commencement of the financial year and further grace period of two months should be offered to the members to clear the outstanding subscription amounts. Members who do not pay their subscription within 30 days of the commencement of the financial year, shall not be entitled to the privileges of the Membership at any General Meeting and if the Member fails to pay the outstanding subscription amount within the grace period of two months, it shall result in cessation of Membership. Once the membership is terminated then re-entry of the Member will be at the discretion of the Membership Development Committee. In case of default in the payment of any installments of subscription payable by a Patron, Benefactor or Life member as per above mentioned Rules of Payment the decision to admit or reject his membership in that class or any other class shall rest with the Membership Development Committee of the Chamber.</p>
					<br />
					<h4>Disclaimer</h4>
					
					<p>Extracts of the Articles of Association regarding application eligibility, approval process of new applications, refund policy in case the application is rejected and renewal, are reproduced above for information. In case of ambiguity, the original constitution as amended from time to time shall be considered authoritative and final.</p>
					                    
				</div> 
	     </div>
</div>  
</section>
{% endblock %}

</body>
</html>
