<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>MCCIA</title>
</head>
<body>

{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<!-- Breadcrumb section starts here -->
<section class="InternalBannerSection" style="background-image: url({% static 'assets/images/internal-banner.jpg' %});">
    <div class="InternalInnerArea">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <h2>Feel Free to Use the Registration form below to reach Us</h2>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <ol class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li class="active"><a href="#">Membership</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb section end here -->

<!-- Join Us Today section start here -->
<section class="JoinTodaySection">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <div class="JoinTodaypanel">
                    <h2><span>Join Us</span>Today!</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="JoinTodayinforpanel">
                    <p>Be well connected as an MCCIA member!<br>
                        MCCIA membership is an investment for a brighter future which brings diverse growth
                        opportunities to businesses of all sizes from all sectors. Chamber membership conveys
                        credibility at domestic and international markets thus opening doors to greater opportunities.
                    </p>
                    <a href="/membershipapp/member-benifits/" class="firstBtn">Membership Benefits</a>
                    <a href="/membershipapp/eligibility-criteria/">Terms & Conditions</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="">
                    <img src="{% static 'assets/images/join-img.jpg' %}" class="img-responsive" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Join Us Today section end here -->

<!-- Success We Deserve section start here -->
<section class="SuccessWeDeserveSection" id="counter" style="padding-bottom: 0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 smallDevice">
                <div class="SuccessWedeserve" style="padding-top: 0px;">
                    <h4>We Have Something <span>To Be Proud OF</span></h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 smallDevice">
                <div class="HollBookingbox">
                    <h3 class="counter-value" data-count="3198">0</h3> <span>+</span>
                </div>
                <h5>Members</h5>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 smallDevice">
                <div class="HollBooking">
                    <div class="Visabox">
                        <h3 class="counter-value" data-count="2789">0</h3><span>+</span>
                    </div>
                    <h5>Organisational Members</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 smallDevice">
                <div class="HollBooking">
                    <div class="Certificatebox">
                        <h3 class="counter-value" data-count="409">0</h3><span>+</span>
                    </div>
                    <h5>Individual Members</h5>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Success We Deserve section end here -->

<!-- MCCIS New Member section start here -->
<section class="WelcomeNewMembers">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>MCCIA Welcomes New Members</h2>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 Pright">
                <div class="IndividualsMembers">
                    <div id="IndividualsMembers" class="carousel slide" data-ride="carousel">
                        <!-- Controls -->
                        <div class="navarrowpanel">
                            <a class="left carousel-control" href="#IndividualsMembers" role="button" data-slide="prev">
                                <i class="fa fa-long-arrow-left"></i>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#IndividualsMembers" role="button"
                               data-slide="next">
                                <i class="fa fa fa-long-arrow-right"></i>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        <h3>Individuals</h3>
                        <span class="num">01 / 03</span>
                        <span class="minimizeBtn" style="display:none;cursor: pointer;">Minimize</span>
                        <ul class="ShowMember">
                            <li><a href="javascript:void(0);" class="ShowAllMembersBtn">Show all 23</a></li>
                            <!--<li>New Individuals Member's Name</li>-->
                        </ul>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <ul>
                                    <li>Mr. Hrishikesh A. Apte</li>
                                    <li>Shah Manoj</li>
                                    <li>Mr. Debajit Dutta</li>
                                    <li>Ms. Priyanka Vishal Dandge</li>
                                    <li>Tupe Pradeep</li>
                                    <li>Ms. Savita Narayan</li>
                                    <li>Mr. Sachin T. Bhand</li>
                                    <li>Mr. Ashok B. Chattar</li>
                                    <li>Mr. Pravin R. Mayekar</li>
                                </ul>
                            </div>
                            <div class="item">
                                <ul>
                                    <li>Mr. Hrishikesh A. Apte</li>
                                    <li>Shah Manoj</li>
                                    <li>Mr. Debajit Dutta</li>
                                    <li>Ms. Priyanka Vishal Dandge</li>
                                    <li>Tupe Pradeep</li>
                                    <li>Ms. Savita Narayan</li>
                                    <li>Mr. Sachin T. Bhand</li>
                                    <li>Mr. Ashok B. Chattar</li>
                                    <li>Mr. Pravin R. Mayekar</li>
                                </ul>
                            </div>
                            <div class="item">
                                <ul>
                                    <li>Mr. Hrishikesh A. Apte</li>
                                    <li>Shah Manoj</li>
                                    <li>Mr. Debajit Dutta</li>
                                    <li>Ms. Priyanka Vishal Dandge</li>
                                    <li>Tupe Pradeep</li>
                                    <li>Ms. Savita Narayan</li>
                                    <li>Mr. Sachin T. Bhand</li>
                                    <li>Mr. Ashok B. Chattar</li>
                                    <li>Mr. Pravin R. Mayekar</li>
                                </ul>
                            </div>

                        </div>
                        <div class="ShowAllMembers">
                            <div class="panelleft"><a href="javascript:void(0);" class="ShowAllMembersBtn">Show all
                                23</a></div>
                            <div class="panelright"><span class="num">01 / 03</span></div>
                        </div>
                        <!-- Controls -->
                        <div class="navarrowpanel1">
                            <a class="left carousel-control" href="#IndividualsMembers" role="button" data-slide="prev">
                                <i class="fa fa-long-arrow-left"></i>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#IndividualsMembers" role="button"
                               data-slide="next">
                                <i class="fa fa fa-long-arrow-right"></i>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 Pleft">
                <div class="IndividualsMembers">
                    <div id="OrganizationMembers" class="carousel slide" data-ride="carousel">
                        <!-- Controls -->
                        <div class="navarrowpanel">
                            <a class="left carousel-control" href="#OrganizationMembers" role="button"
                               data-slide="prev">
                                <i class="fa fa-long-arrow-left"></i>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#OrganizationMembers" role="button"
                               data-slide="next">
                                <i class="fa fa fa-long-arrow-right"></i>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        <h3>Organizations</h3>
                        <span class="number">01 / 11</span>
                        <span class="minimizeBtn" style="display:none;cursor: pointer;">Minimize</span>

                        <ul class="ShowMember">
                            <li><a href="javascript:void(0);" class="ShowAllMembersBtn">Show all 105</a></li>
                            <!--<li>New  Organizations  Name</li>-->
                        </ul>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <ul>
                                    <li>Altizon Systems Pvt.Ltd.</li>
                                    <li>Aman Stampings & Toolings Pvt Ltd</li>
                                    <li>ANT Steel Engineers (Asia) Pvt. Ltd.</li>
                                    <li>Aren Enterprises</li>
                                    <li>AV Store</li>
                                    <li>Bystronic Laser India Pvt. Ltd.</li>
                                    <li>Crescendo Worldwide</li>
                                    <li>CG Power and Industrial Solutions Limited</li>
                                    <li>Ghalsasi Smelting Pvt.Ltd.</li>
                                </ul>
                            </div>
                            <div class="item">
                                <ul>
                                    <li>Altizon Systems Pvt.Ltd.</li>
                                    <li>Aman Stampings & Toolings Pvt Ltd</li>
                                    <li>ANT Steel Engineers (Asia) Pvt. Ltd.</li>
                                    <li>Aren Enterprises</li>
                                    <li>AV Store</li>
                                    <li>Bystronic Laser India Pvt. Ltd.</li>
                                    <li>Crescendo Worldwide</li>
                                    <li>CG Power and Industrial Solutions Limited</li>
                                    <li>Ghalsasi Smelting Pvt.Ltd.</li>
                                </ul>
                            </div>
                            <div class="item">
                                <ul>
                                    <li>Altizon Systems Pvt.Ltd.</li>
                                    <li>Aman Stampings & Toolings Pvt Ltd</li>
                                    <li>ANT Steel Engineers (Asia) Pvt. Ltd.</li>
                                    <li>Aren Enterprises</li>
                                    <li>AV Store</li>
                                    <li>Bystronic Laser India Pvt. Ltd.</li>
                                    <li>Crescendo Worldwide</li>
                                    <li>CG Power and Industrial Solutions Limited</li>
                                    <li>Ghalsasi Smelting Pvt.Ltd.</li>
                                </ul>
                            </div>
                            <div class="item">
                                <ul>
                                    <li>Altizon Systems Pvt.Ltd.</li>
                                    <li>Aman Stampings & Toolings Pvt Ltd</li>
                                    <li>ANT Steel Engineers (Asia) Pvt. Ltd.</li>
                                    <li>Aren Enterprises</li>
                                    <li>AV Store</li>
                                    <li>Bystronic Laser India Pvt. Ltd.</li>
                                    <li>Crescendo Worldwide</li>
                                    <li>CG Power and Industrial Solutions Limited</li>
                                    <li>Ghalsasi Smelting Pvt.Ltd.</li>
                                </ul>
                            </div>
                            <div class="item">
                                <ul>
                                    <li>Altizon Systems Pvt.Ltd.</li>
                                    <li>Aman Stampings & Toolings Pvt Ltd</li>
                                    <li>ANT Steel Engineers (Asia) Pvt. Ltd.</li>
                                    <li>Aren Enterprises</li>
                                    <li>AV Store</li>
                                    <li>Bystronic Laser India Pvt. Ltd.</li>
                                    <li>Crescendo Worldwide</li>
                                    <li>CG Power and Industrial Solutions Limited</li>
                                    <li>Ghalsasi Smelting Pvt.Ltd.</li>
                                </ul>
                            </div>
                            <div class="item">
                                <ul>
                                    <li>Altizon Systems Pvt.Ltd.</li>
                                    <li>Aman Stampings & Toolings Pvt Ltd</li>
                                    <li>ANT Steel Engineers (Asia) Pvt. Ltd.</li>
                                    <li>Aren Enterprises</li>
                                    <li>AV Store</li>
                                    <li>Bystronic Laser India Pvt. Ltd.</li>
                                    <li>Crescendo Worldwide</li>
                                    <li>CG Power and Industrial Solutions Limited</li>
                                    <li>Ghalsasi Smelting Pvt.Ltd.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="ShowAllMembers">
                            <div class="panelleft"><a href="javascript:void(0);" class="ShowAllMembersBtn">Show all
                                105</a></div>
                            <div class="panelright"><span class="number">01 / 11</span></div>
                        </div>
                        <!-- Controls -->
                        <div class="navarrowpanel1">
                            <a class="left carousel-control" href="#OrganizationMembers" role="button"
                               data-slide="prev">
                                <i class="fa fa-long-arrow-left"></i>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#OrganizationMembers" role="button"
                               data-slide="next">
                                <i class="fa fa fa-long-arrow-right"></i>
                                <span class="sr-only">Next</span>
                            </a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- MCCIS New Member section end here -->
{% endblock %}



{% block js_block %}
<script src="{%static 'custom-js/membershipapp/membership_benefits.js' %}" type="text/javascript"></script>
{% endblock %}
</body>
</html>
